.download-apps
	.download-apps__layout
		.download-apps__title Наше приложение:
		ul.download-apps__list
			li.download-apps__item
				a.download-apps__link
					svg.svg-icon.download-apps__icon
						use(xlink:href="#svg-icon-apps__app-store")
			li.download-apps__item
				a.download-apps__link
					svg.svg-icon.download-apps__icon
						use(xlink:href="#svg-icon-apps__play-market")
			li.download-apps__item
				a.download-apps__link
					svg.svg-icon.download-apps__icon
						use(xlink:href="#svg-icon-apps__huawei-apps")