nav.top-nav
	.top-nav__wrapper.container
		.top-nav__layout
			.top-nav__nav
				.top-nav__cell
					a.top-nav-link
						.top-nav-link__main Частным клиентам
				.top-nav__cell
					a.top-nav-link
						.top-nav-link__main Малому бизнесу
				.top-nav__cell
					a.top-nav-link
						.top-nav-link__main Крупному бизнесу
				.top-nav__cell
					a.top-nav-link
						.top-nav-link__main Премиум
			.top-nav__spacer
			.top-nav__cell
				include download-apps
