footer.page-footer
	.container
		.page-footer__layout
			.page-footer__cell
				.page-footer__block.flc
					.page-footer__block-title.h5.flc О компании
					.page-footer__block-body.flc
						ul.page-footer-menu
							li.page-footer-menu__item
								a.page-footer-menu__link(href="#") О нас
							li.page-footer-menu__item
								a.page-footer-menu__link(href="#") История
							li.page-footer-menu__item
								a.page-footer-menu__link(href="#") Руководство
							li.page-footer-menu__item
								a.page-footer-menu__link(href="#") Адреса магазинов
							li.page-footer-menu__item
								a.page-footer-menu__link(href="#") Контакты
							li.page-footer-menu__item
								a.page-footer-menu__link(href="#") Вакансии
			.page-footer__cell
				.page-footer__block.flc
					.page-footer__block-title.h5.flc Клиентам
					.page-footer__block-body.flc
						ul.page-footer-menu
							li.page-footer-menu__item
								a.page-footer-menu__link(href="#") Как оформить заказ
							li.page-footer-menu__item
								a.page-footer-menu__link(href="#") Способы оплаты
							li.page-footer-menu__item
								a.page-footer-menu__link(href="#") Гарантия и возврат
							li.page-footer-menu__item
								a.page-footer-menu__link(href="#") Доставка и самовывоз
							li.page-footer-menu__item
								a.page-footer-menu__link(href="#") Дисконтная программа
			.page-footer__cell
				.page-footer__block.flc
					.page-footer__block-title.h5.flc Каталог
					.page-footer__block-body.flc
						ul.page-footer-menu
							li.page-footer-menu__item
								a.page-footer-menu__link(href="#") Первый раздел
							li.page-footer-menu__item
								a.page-footer-menu__link(href="#") Второй раздел
							li.page-footer-menu__item
								a.page-footer-menu__link(href="#") Третий раздел
			.page-footer__cell
				.page-footer__block.flc
					.page-footer__block-title.h5.flc Подписывайтесь
					v-scope
						v-subscription-form(data-source="/local/assets/dist/fixtures/subscription-form.json")
				.page-footer__block.flc
					.page-footer__block-title.h5.flc Свяжитесь с нами
					.page-footer__block-body.flc
						.contact-link-block.flc
							a.contact-link(href="tel:+000")
								.contact-link__note.flc Горячая линия
								.contact-link__value.flc +375 29 000-00-00
						.contact-link-block.fllc
							a.contact-link(href="mailto:test@test.test")
								.contact-link__note.flc Email
								.contact-link__value.flc test@test.test
				.page-footer__block.flc
					.page-footer__block-title.h5.flc Принимаем к оплате
					.page-footer__block-body.flc
						.pay-icons.flc
							.pay-icons__grid
								.pay-icons__cell
									svg.svg-icon.pay-icons__item.pay-icons__item--visa(title="Visa")
										use(xlink:href="#svg-icon-pay-visa")
								.pay-icons__cell
									svg.svg-icon.pay-icons__item.pay-icons__item--vbvisa(title="Verified by Visa")
										use(xlink:href="#svg-icon-pay-vbvisa")
								.pay-icons__cell
									svg.svg-icon.pay-icons__item.pay-icons__item--mc(title="MasterCard")
										use(xlink:href="#svg-icon-pay-mc")
								.pay-icons__cell
									svg.svg-icon.pay-icons__item.pay-icons__item--mcsc(title="MasterCard Secure Code")
										use(xlink:href="#svg-icon-pay-mcsc")
								.pay-icons__cell
									svg.svg-icon.pay-icons__item.pay-icons__item--belcart(title="Белкарт")
										use(xlink:href="#svg-icon-pay-belcart")
								.pay-icons__cell
									svg.svg-icon.pay-icons__item.pay-icons__item--webpay(title="Webpay")
										use(xlink:href="#svg-icon-pay-webpay")
				.page-footer__block.flc
					.page-footer__block-title.h5.flc Мы в социальных сетях
					.page-footer__block-body.flc
						.social-links.flc
							.social-links__grid
								.social-links__cell
									a.social-links__item(href="#" title="vk")
										svg.svg-icon.social-links__icon
											use(xlink:href="#svg-icon-soc-vk")
								.social-links__cell
									a.social-links__item(href="#" title="facebook")
										svg.svg-icon.social-links__icon
											use(xlink:href="#svg-icon-soc-facebook")
								.social-links__cell
									a.social-links__item(href="#" title="Одноклассники")
										svg.svg-icon.social-links__icon
											use(xlink:href="#svg-icon-soc-ok")
								.social-links__cell
									a.social-links__item(href="#" title="Twitter")
										svg.svg-icon.social-links__icon
											use(xlink:href="#svg-icon-soc-twitter")
								.social-links__cell
									a.social-links__item(href="#" title="Google")
										svg.svg-icon.social-links__icon
											use(xlink:href="#svg-icon-soc-google")
								.social-links__cell
									a.social-links__item(href="#" title="YouTube")
										svg.svg-icon.social-links__icon
											use(xlink:href="#svg-icon-soc-youtube")
								.social-links__cell
									a.social-links__item(href="#" title="Skype")
										svg.svg-icon.social-links__icon
											use(xlink:href="#svg-icon-soc-skype")
								.social-links__cell
									a.social-links__item(href="#" title="Telegram")
										svg.svg-icon.social-links__icon
											use(xlink:href="#svg-icon-soc-telegram")
								.social-links__cell
									a.social-links__item(href="#" title="Viber")
										svg.svg-icon.social-links__icon
											use(xlink:href="#svg-icon-soc-viber")
								.social-links__cell
									a.social-links__item(href="#" title="WhatsApp")
										svg.svg-icon.social-links__icon
											use(xlink:href="#svg-icon-soc-whatsapp")


div.page-subfooter
	.container
		.page-subfooter__layout
			.page-subfooter__cell «Newsite Template»
			.page-subfooter__spacer
			.page-subfooter__cell
				a.page-subfooter__link(href="https://newsite.by" target="blank") Разработка сайта
				|  &mdash; Новый Сайт