//v-scope
	v-top-nav
		template(#source)
			v-source(data-source="/local/assets/dist/fixtures/top-nav-menu.json" bxajaxid="1С-Битрикс")
			v-source(data-source="/local/assets/dist/fixtures/top-nav-user.json" bxajaxid="1С-Битрикс")
include ../blocks/top-nav
v-scope
	v-page-header

v-scope
	v-main-nav
		template(#source)
			v-source(data-source="/local/assets/dist/fixtures/main-nav-catalog.json" bxajaxid="1С-Битрикс")
			v-source(data-source="/local/assets/dist/fixtures/main-nav-menu.json" bxajaxid="1С-Битрикс")

v-scope
	v-mobile-nav

//-
	nav.main-nav
		.container
			.main-nav__layout
				.main-nav__cell
					a.main-nav__link(href="#")
						svg.svg-icon.main-nav__link-icon
							use(xlink:href="#svg-icon-placeholder")
						.main-nav__link-main Каталог
				.main-nav__cell
					a.main-nav__link(href="#")
						.main-nav__link-main Клиентам
				.main-nav__cell
					a.main-nav__link(href="#")
						.main-nav__link-main О компании
				.main-nav__cell
					a.main-nav__link(href="#")
						.main-nav__link-main Контакты