meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(content="yes" name="apple-mobile-web-app-capable")

meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="format-detection" content="telephone=no")

link(rel="apple-touch-icon" sizes="180x180" href="/local/assets/favicons/apple-touch-icon.png")
link(rel="icon" type="image/png" sizes="32x32" href="/local/assets/favicons/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href="/local/assets/favicons/favicon-16x16.png")
link(rel="manifest" href="/local/assets/favicons/site.webmanifest")
link(rel="mask-icon" href="/local/assets/favicons/safari-pinned-tab.svg" color="#0066ee")
link(rel="shortcut icon" href="/local/assets/favicons/favicon.ico")
meta(name="msapplication-TileColor" content="#2b5797")
meta(name="msapplication-config" content="/local/assets/favicons/browserconfig.xml")
meta(name="theme-color" content="#0066ee")




link(href="/local/assets/dist/styles/styles.build.css" rel="stylesheet")

script(src="/local/assets/dist/scripts/scripts.build.js" defer)

//-
	script(src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" defer)
	script(src="//yastatic.net/share2/share.js" defer)