include ../../../dist/icons/sprite.svg

v-scope
	v-modal

v-scope
	v-model-source(data-source="/local/assets/dist/fixtures/model-basket.json" bxajaxid="1С-Битрикс")

v-scope
	v-model-source(data-source="/local/assets/dist/fixtures/model-favorite.json" bxajaxid="1С-Битрикс")