<template lang="pug">
.v-product-slider.product-slider
	v-loader(:loading="loading")
	.product-slider__arrow.product-slider__arrow--prev(ref="prev")
		svg.svg-icon.product-slider__icon
			use(xlink:href="#svg-icon-slide-left")
	.product-slider__arrow.product-slider__arrow--next(ref="next")
		svg.svg-icon.product-slider__icon
			use(xlink:href="#svg-icon-slide-right")
	v-swiper-slider(
			v-if="slider && slider.items && slider.items.length" 
			:options="computedOptions" 
			:key="uniqueId" 
			ref="swiperSlider")
		v-swiper-slide.product-slider__slide(v-for="(item, index) in slider.items" :key="item.id || index")
			v-product(:product="item" v-if="slider.type === 'products'")
			v-article-poster(:article="item" v-if="slider.type === 'articles'")
</template>

<script>
import sourceMixin from 'components/mixins/v-mixin-source.vue';
import breakpoints from 'scripts/breakpoints';
import uniqueId from 'scripts/helpers/uniqueId';
import {SwiperSlide} from 'swiper/vue';

export default {
	components: {
		'v-swiper-slide': SwiperSlide
	},
	
	mixins: [
		sourceMixin
	],

	props: {
		options: {
			type: Object,
			default: null
		}
	},

	data() {
		return {
			slider: {},
			uniqueId: uniqueId('swiper-')
		};
	},

	computed: {
		computedOptions() {
			let result = {
				slidesPerView: 1,
				spaceBetween: 0,
				breakpoints: {
					// when window width is >= x
					[breakpoints['xl-min']]: {
						slidesPerView: 5
					},
					[breakpoints['lg-min']]: {
						slidesPerView: 3
					},
					[breakpoints['md-min']]: {
						slidesPerView: 2
					}
				}
			};
			if (this.options) {
				Object.keys(this.options).forEach((key) => {
					if (typeof this.options[key] !== 'undefined') {
						result[key] = this.options[key];
					}
				});
			}
			return result;
		}
	},

	methods: {
		dataSet(data) {
			this.slider = data;
			let prevArrow = this.$refs.prev;
			let nextArrow = this.$refs.next;
			this.$nextTick(() => {
				const slider = this.$refs.swiperSlider;
				slider.dataNavigation = {
					prevEl: prevArrow,
					nextEl: nextArrow
				};
			});
		}
	}
};
</script>