<template lang="pug">
.v-swiper-slider.swiper-slider
	.swiper-slider__slider
		template(v-if="sliderShown")
			v-swiper(
					v-bind="computedOptions"
					:navigation="dataNavigation"
					:pagination="computedPagination"
					:scrollbar="computedScrollbar"
					@swiper="onSwiper"
					@slideChange="onSlideChange"
					:id="uniqueId")
				slot
</template>

<script>
// import Swiper core and required components
import SwiperCore, {
	Navigation, 
	Pagination, 
	Scrollbar, 
	A11y
} from 'swiper';

// Import Swiper Vue.js components
import {Swiper} from 'swiper/vue';
import uniqueId from 'scripts/helpers/uniqueId';

// install Swiper components
SwiperCore.use([
	Navigation, 
	Pagination, 
	Scrollbar, 
	A11y
]);

// Import Swiper styles
export default {
	components: {
		'v-swiper': Swiper
	},

	props: {
		options: {
			type: Object,
			default: null
		}
	},
	
	data() {
		return {
			sliderShown: false,
			uniqueId: uniqueId('swiper-slider_'),
			dataNavigation: {
				nextEl: null,
				prevEl: null
			},
			dataPagination: null,
			dataScrollbar: null
		};
	},

	computed: {
		computedPagination() {
			return {
				clickable: true
			};
		},
		
		computedScrollbar() {
			return {
				draggable: true
			};
		},
		
		computedOptions() {
			let result = {
				slidesPerView: 1,
				spaceBetween: 0,
				loop: true
			};
			if (this.options) {
				Object.keys(this.options).forEach((key) => {
					if (typeof this.options[key] !== 'undefined') {
						result[key] = this.options[key];
					}
				});
			}
			return result;
		},
	},

	mounted() {
		this.sliderShown = true;
	},

	methods: {
		onSwiper(swiper) {
			if (swiper) {
				//console.log(swiper);
			}
		},

		onSlideChange() {
			//console.log('slide change');
		}
	},
};
</script>