extends /templates/page.pug

block head-title
	title Template Статья

block main

	+breadcrumbs(['Главная', 'Статьи'])

	+page-title('Название статьи')

	article.article
		.container
			.article__wrap
				.article__left.hidden-sm
					ul.aside-list
						li.aside-list__item.flc
							a.aside-list__link.link(href="#") Новости
						li.aside-list__item.flc
							a.aside-list__link.link(href="#") Статьи
				.article__right
					.text-guide
						h2 Template heading level 2

						p Template basic text pagagraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a?

						h3 Template heading level 3

						p Template basic text pagagraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a?

						h4 Template heading level 4

						p Template basic text pagagraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a?

						h5 Template heading level 5

						p Template basic text pagagraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a?

						p Template basic text pagagraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a?

						p.text-strong Template strong text pagagraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a?

						p.text-small Template strong text pagagraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a?

						p Template basic text pagagraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a?

						img(src="https://placehold.it/700x400" alt="")

						p Template basic text pagagraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a?

						img(src="https://placehold.it/420x280" alt="" align="left")

						p Template basic text pagagraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a?

						p Template basic text pagagraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a?

						img(src="https://placehold.it/420x280" alt="" align="right")

						p Template basic text pagagraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a?

						p Template basic text pagagraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a?

						h3 Blockquote
						blockquote(cite='https://any-link.html')
							p
								| Words can be like X-rays, if you use them properly—they’ll go through anything. You read and you’re pierced.
							footer
								| —Aldous Huxley,
								cite Brave New World

						h3 Unordered List
						ul
							li Template unordered list item.
							li Template unordered list item.
							li Template unordered list item.
							li Template unordered list item.
								ul
									li Template unordered list item.
									li Template unordered list item.
									li Template unordered list item.
									li Template unordered list item.
									li Template unordered list item.
							li Template unordered list item.

						h3 Ordered List
						ol
							li Template ordered list item.
							li Template ordered list item.
							li Template ordered list item.
							li Template ordered list item.
								ol
									li Template ordered list item.
									li Template ordered list item.
									li Template ordered list item.
									li Template ordered list item.
									li Template ordered list item.
							li Template ordered list item.

						h3 Table
						.table-scroller
							table
								thead
									tr
										th №
										th Name
										th Size
								tbody
									tr
										td 1
										td Content
										td 171 KB
									tr
										td 2
										td Content
										td 78 KB
									tr
										td 3
										td Content
										td 1039 KB