extends /templates/page.pug

block head-title
	title Template Главная

block main
	v-scope
		v-hero-slider(data-source="/local/assets/dist/fixtures/hero-slider.json")

	v-scope
		v-page-section(:data-source='{"title": {"text": "Акции", "link": null}, "links": [{"link": "#", "text": "Все акции"}]}')
			v-product-slider(data-source="/local/assets/dist/fixtures/product-slider.json")

	v-scope
		v-page-section(:data-source='{"title": {"text": "Новинки", "link": null}, "links": [{"link": "#", "text": "Все новинки"}]}')
			v-product-slider(data-source="/local/assets/dist/fixtures/product-slider.json")

	v-scope
		v-page-section(:data-source='{"title": {"text": "Новости и акции", "link": null}, "links": [{"link": "#", "text": "Все новости"}]}')
			v-product-slider.product-slider--alt(data-source="/local/assets/dist/fixtures/article-slider.json")