extends /templates/page.pug

block head-title
	title Template Каталог

block main

	+breadcrumbs(['Главная', 'Каталог'])

	+page-title('Раздел каталога')

	v-scope
		v-catalog(data-source="/local/assets/dist/fixtures/catalog.json" bxajaxid="1С-Битрикс")