extends /templates/page.pug

block head-title
	title Template Карточка товара

block main
	+breadcrumbs(['Главная', 'Каталог', 'Название товара'])

	+page-title('Название товара')

	v-scope
		v-catalog-item(data-source="/local/assets/dist/fixtures/catalog-item.json" bxajaxid="1С-Битрикс")