extends /templates/page.pug

block head-title
	title Template Guideline

block header

block footer

include /mixins/guideline-block.pug

block main
	.guideline
		.guideline__head
			.container
				h1.guideline__title Guideline

				.text-guide
					a(href="/local/assets/dist/markup/") На список страниц

		+guideline-block('Цвет')

			.guideline-color-list
				.guideline-color-list__item
					.guideline-color-list__item-color.bg-primary
					.guideline-color-list__item-label Primary
				.guideline-color-list__item
					.guideline-color-list__item-color.bg-primary-shade-2
					.guideline-color-list__item-label Primary shade 2
				.guideline-color-list__item
					.guideline-color-list__item-color.bg-primary-shade-3
					.guideline-color-list__item-label Primary shade 3
				.guideline-color-list__item
					.guideline-color-list__item-color.bg-primary-2
					.guideline-color-list__item-label Primary 2
				.guideline-color-list__item
					.guideline-color-list__item-color.bg-primary-2-shade-2
					.guideline-color-list__item-label Primary 2 shade 2
				.guideline-color-list__item
					.guideline-color-list__item-color.bg-primary-2-shade-3
					.guideline-color-list__item-label Primary 2 shade 3
				.guideline-color-list__item
					.guideline-color-list__item-color.bg-black
					.guideline-color-list__item-label Black
				.guideline-color-list__item
					.guideline-color-list__item-color.bg-gray-dark
					.guideline-color-list__item-label Dark Gray
				.guideline-color-list__item
					.guideline-color-list__item-color.bg-gray
					.guideline-color-list__item-label Gray
				.guideline-color-list__item
					.guideline-color-list__item-color.bg-gray-light
					.guideline-color-list__item-label Light Gray
				.guideline-color-list__item
					.guideline-color-list__item-color.bg-white
					.guideline-color-list__item-label White
				.guideline-color-list__item
					.guideline-color-list__item-color.bg-success
					.guideline-color-list__item-label Success
				.guideline-color-list__item
					.guideline-color-list__item-color.bg-success-light
					.guideline-color-list__item-label Success light
				.guideline-color-list__item
					.guideline-color-list__item-color.bg-warning
					.guideline-color-list__item-label Warning
				.guideline-color-list__item
					.guideline-color-list__item-color.bg-warning-light
					.guideline-color-list__item-label Warning light
				.guideline-color-list__item
					.guideline-color-list__item-color.bg-error
					.guideline-color-list__item-label Error
				.guideline-color-list__item
					.guideline-color-list__item-color.bg-error-light
					.guideline-color-list__item-label Error light



		+guideline-block('Текст')

			.text-guide
				h1 Template heading 1
					br
					| second line
				h2 Template heading 2
					br
					| second line
				h3 Template heading 3
					br
					| second line
				h4 Template heading 4
					br
					| second line
				h5 Template heading 5
					br
					| second line

				p Template basic text pagagraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a?

				p Template basic text pagagraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a?

				p.text-strong Template strong text pagagraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a?

				p.text-small Template strong text pagagraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit cum beatae quisquam eum. Eius, magni perspiciatis recusandae pariatur praesentium, quas, in doloribus adipisci sit esse non. Sapiente, ea, a?

				ul
					li Template unordered list item.
					li Template unordered list item.
					li Template unordered list item.
					li Template unordered list item.
						ul
							li Template unordered list item.
							li Template unordered list item.
							li Template unordered list item.
							li Template unordered list item.
							li Template unordered list item.
					li Template unordered list item.

				ol
					li Template ordered list item.
					li Template ordered list item.
					li Template ordered list item.
					li Template ordered list item.
						ol
							li Template ordered list item.
							li Template ordered list item.
							li Template ordered list item.
							li Template ordered list item.
							li Template ordered list item.
					li Template ordered list item.



		+guideline-block('Кнопки')

			.guideline-element.flc
				.guideline-grid
					.guideline-grid__cell
						button.btn.btn--lg(type="button") Кнопка default lg
					.guideline-grid__cell
						button.btn(type="button") Кнопка default
					.guideline-grid__cell
						button.btn.btn--sm(type="button") Кнопка default sm
			.guideline-element.flc
				.guideline-grid
					.guideline-grid__cell
						button.btn.btn--lg(type="button" disabled) Кнопка default disabled lg
					.guideline-grid__cell
						button.btn(type="button" disabled) Кнопка default disabled
					.guideline-grid__cell
						button.btn.btn--sm(type="button" disabled) Кнопка default disabled sm
			.guideline-element.flc
				.guideline-grid
					.guideline-grid__cell
						button.btn.btn--primary.btn--lg(type="button") Кнопка primary lg
					.guideline-grid__cell
						button.btn.btn--primary(type="button") Кнопка primary
					.guideline-grid__cell
						button.btn.btn--primary.btn--sm(type="button") Кнопка primary sm
			.guideline-element.flc
				.guideline-grid
					.guideline-grid__cell
						button.btn.btn--primary.btn--lg(type="button" disabled) Кнопка primary disabled lg
					.guideline-grid__cell
						button.btn.btn--primary(type="button" disabled) Кнопка primary disabled
					.guideline-grid__cell
						button.btn.btn--primary.btn--sm(type="button" disabled) Кнопка primary disabled sm
			.guideline-element.flc.bg-black(style="padding: 10px")
				.guideline-grid
					.guideline-grid__cell
						button.btn.btn--white.btn--lg(type="button") Кнопка white lg
					.guideline-grid__cell
						button.btn.btn--white(type="button") Кнопка white
					.guideline-grid__cell
						button.btn.btn--white.btn--sm(type="button") Кнопка white sm
			.guideline-element.flc.bg-black(style="padding: 10px")
				.guideline-grid
					.guideline-grid__cell
						button.btn.btn--white.btn--lg(type="button" disabled) Кнопка white disabled lg
					.guideline-grid__cell
						button.btn.btn--white(type="button" disabled) Кнопка white disabled
					.guideline-grid__cell
						button.btn.btn--white.btn--sm(type="button" disabled) Кнопка white disabled sm
			.guideline-element.flc.bg-black(style="padding: 10px")
				.guideline-grid
					.guideline-grid__cell
						button.btn.btn--primary-white.btn--lg(type="button") Кнопка white primary lg
					.guideline-grid__cell
						button.btn.btn--primary-white(type="button") Кнопка white primary
					.guideline-grid__cell
						button.btn.btn--primary-white.btn--sm(type="button") Кнопка white primary sm
			.guideline-element.flc.bg-black(style="padding: 10px")
				.guideline-grid
					.guideline-grid__cell
						button.btn.btn--primary-white.btn--lg(type="button" disabled) Кнопка white primary disabled lg
					.guideline-grid__cell
						button.btn.btn--primary-white(type="button" disabled) Кнопка white primary disabled
					.guideline-grid__cell
						button.btn.btn--primary-white.btn--sm(type="button" disabled) Кнопка white primary disabled sm



		+guideline-block('Список параметров')
			.guideline-element.flc(style="max-width: 320px")
				.key-value-list.flc
					.key-value-list__item
						.key-value-list__item-start Длина
						.key-value-list__item-spacer
						.key-value-list__item-end 180см
					.key-value-list__item
						.key-value-list__item-start Ширина
						.key-value-list__item-spacer
						.key-value-list__item-end 80см
					.key-value-list__item
						.key-value-list__item-start Высота
						.key-value-list__item-spacer
						.key-value-list__item-end 60см



		+guideline-block('Информационное сообщение')
			.guideline-element.flc
				.info-box.flc
					.info-box__group.flc
						h4.info-box__heading.flc Заголовок
						.info-box__body.flc.text-guide
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro cumque pariatur ullam, quo tempore quia optio suscipit. Vitae, est sunt?  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim sit, cum officiis magnam atque, iusto quibusdam fugiat porro ipsa eligendi corrupti magni! Animi laborum, culpa nemo sed ducimus harum labore.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, est sunt?
					.info-box__group.flc
						h4.info-box__heading.flc Заголовок
						.info-box__body.flc.text-guide
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro cumque pariatur ullam, quo tempore quia optio suscipit. Vitae, est sunt?
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, est sunt?
				.info-box.flc
					.info-box__group.flc
						.info-box__body.flc.text-guide
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro cumque pariatur ullam, quo tempore quia optio suscipit. Vitae, est sunt?
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, est sunt?



		+guideline-block('Модальные окна')
			.guideline-element.flc
				.guideline-grid
					.guideline-grid__cell
						button.btn.btn--primary.js-open-modal(type="button" data-modal-data='{"className": "modal--sm", "title": "Modal title"}' data-modal-url="/local/assets/dist/markup/modal-content.html") Открыть маленькое окно

					.guideline-grid__cell
						button.btn.btn--primary.js-open-modal(type="button" data-modal-url="/local/assets/dist/markup/modal-content.html") Открыть среднее окно

					.guideline-grid__cell
						button.btn.btn--primary.js-open-modal(type="button" data-modal-data='{"className": "modal--lg"}' data-modal-url="/local/assets/dist/markup/modal-content.html") Открыть большое окно

					.guideline-grid__cell
						-
							let modalDataHTML = {
								"className": "modal--md",
								"content": "<div class=\"modal-window\"><div class=\"modal-window__header\"><button class=\"modal-window__close js-close-modal\" type=\"button\" aria-label=\"Закрыть\"><svg class=\"svg-icon modal-window__close-icon\"><use xlink:href=\"#svg-icon-close\"></use></svg></button></div><div class=\"modal-window__body\"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div></div>"
							}
						button.btn.btn--primary.js-open-modal(type="button" data-modal-data=modalDataHTML) Открыть окно с HTML

					.guideline-grid__cell
						button.btn.btn--primary.js-open-modal(type="button" data-modal-data='{"className": "modal--sm"}' data-modal-url="/local/assets/dist/markup/modal-content-form.html") Открыть окно с формой


		+guideline-block('Фотогалерея')
			.guideline-element.flc
				.guideline-grid
					.guideline-grid__cell
						button.btn.btn--primary.js-open-modal-gallery(type="button" data-gallery="/local/assets/dist/fixtures/modal-gallery.json") Открыть галерею



		+guideline-block('Формы')
			v-scope
				v-form(data-source="/local/assets/dist/fixtures/guideline-form.json" mode="card")



		+guideline-block('Скролбар')
			.text-guide
				.test-scrollbar.scrollbar
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.