extends /templates/page.pug

block head-title
	title БЕЛ ВЭБ Markup

block header

block footer

block main
	.guideline
		.guideline__head
			.container
				h1 БЕЛ ВЭБ

		+guideline-block('Список страниц')
			.text-guide
				ul
					li
						a(href="/local/assets/dist/markup/guideline.html") Гайдлайн
					li
						a(href="/local/assets/dist/markup/b-main.html") Главная
					li
						a(href="/local/assets/dist/markup/main-light.html") Главная (легкая версия)
					li
						a(href="/local/assets/dist/markup/catalog.html") Каталог
					li
						a(href="/local/assets/dist/markup/catalog-item.html") Карточка товара
					li
						a(href="/local/assets/dist/markup/news.html") Новости
					li
						a(href="/local/assets/dist/markup/article.html") Статья