extends /templates/page.pug

block head-title
	title Template Главная

block main

	v-scope
		v-hero-block(data-source="/local/assets/dist/fixtures/hero-block.json")

	v-scope
		v-hero-block(data-source="/local/assets/dist/fixtures/hero-block-2.json")

	v-scope
		v-hero-block(data-source="/local/assets/dist/fixtures/hero-block-3.json")

	v-scope
		v-page-section(:data-source='{"title": {"text": "Акции", "link": null}, "links": [{"link": "#", "text": "Все акции"}]}')
			v-product-line(data-source="/local/assets/dist/fixtures/product-slider.json")

	v-scope
		v-page-section(:data-source='{"title": {"text": "Новинки", "link": null}, "links": [{"link": "#", "text": "Все новинки"}]}')
			v-product-line(data-source="/local/assets/dist/fixtures/product-slider.json")

	v-scope
		v-page-section(:data-source='{"title": {"text": "Новости и акции", "link": null}, "links": [{"link": "#", "text": "Все новости"}]}')
			v-product-line(data-source="/local/assets/dist/fixtures/article-slider.json")