v-modal-window
	.text-guide
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur nostrum quaerat dignissimos asperiores totam tenetur quia incidunt, nobis autem eligendi, animi dolorum repellat recusandae reprehenderit explicabo possimus ea, sunt consequuntur.

		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur nostrum quaerat dignissimos asperiores totam tenetur quia incidunt, nobis autem eligendi, animi dolorum repellat recusandae reprehenderit explicabo possimus ea, sunt consequuntur.

		ul
			li Lorem ipsum dolor sit amet, #[a(href="#") consectetur] adipisicing elit.

			li Lorem ipsum dolor sit amet, consectetur adipisicing elit.

			li Iusto, qui provident odit omnis ipsam aliquam ut quia reprehenderit eum quis.