.modal-window
	.modal-window__header
		.modal-window__header-main
			.modal-window__title.h3.flc Зарегистрироваться
		button.modal-window__close.js-close-modal(type="button")
			svg.svg-icon.modal-window__close-icon
				use(xlink:href="#svg-icon-close")
	.modal-window__body
		v-form(data-source="/local/assets/dist/fixtures/sign-up-form.json")