extends /templates/page.pug

block head-title
	title Template Новости

block main

	+breadcrumbs(['Главная'])

	+page-title('Новости')

	v-scope
		v-catalog(data-source="/local/assets/dist/fixtures/catalog-news.json" bxajaxid="1С-Битрикс")