extends /templates/page.pug

block head-title
	title Template Результаты поиска

block main

	+breadcrumbs(['Главная', 'Результаты поиска'])

	+page-title('Результаты поиска')

	.container Результаты поиска