/* --- buttons --- */
.btn {
	display: inline-flex;
	vertical-align: middle;
	height: 40px;
	padding: 10px 18px;
	max-width: 100%;
	border: none;
	border-radius: $border-radius-base;
	box-shadow: 0 0 0 1px $color-primary inset;
	color: $color-primary;
	background: transparent;
	font: $fw-base #{$fz-base}/#{20px} $ff-base;
	letter-spacing: normal;
	text-align: center;
	text-overflow: ellipsis;
	text-transform: none;
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
	outline: none;
	transition: $trs-base;
	cursor: pointer;
	position: relative;
	user-select: none;
}

.btn::after {
	@include focus-frame;
	border-radius: $border-radius-base;
}

@include no-touch {
	.btn:hover {
		color: $color-primary-shade-2;
		border: none;
		background: transparent;
		box-shadow: 0 0 0 1px $color-primary-shade-2 inset;
	}
}

@include focus-enabled {
	.btn:focus::after {
		@include focus-frame-show;
	}
}

.btn:active {
	color: $color-white;
	border: none;
	background: $color-primary-shade-3;
	box-shadow: 0 0 0 1px $color-primary-shade-3 inset;
}

.btn.btn.btn--disabled,
.btn.btn:disabled {
	cursor: not-allowed;
	color: $color-gray;
	background: transparent;
	box-shadow: 0 0 0 1px $color-gray inset;
}

.btn--primary {
	color: $color-white;
	background: $color-primary;
	box-shadow: none;
}

@include no-touch {
	.btn--primary:hover {
		color: $color-white;
		background: $color-primary-shade-2;
		box-shadow: none;
	}
}

.btn--primary:active {
	color: $color-white;
	background: $color-primary-shade-3;
	box-shadow: none;
}

.btn.btn--primary.btn--disabled,
.btn.btn--primary:disabled {
	cursor: not-allowed;
	color: $color-white;
	background: $color-gray;
}


.btn--white {
	background: transparent;
	color: $color-white;
	box-shadow: 0 0 0 1px $color-white inset;
}

@include no-touch {
	.btn--white:hover {
		color: $color-gray;
		background: transparent;
		box-shadow: 0 0 0 1px $color-gray inset;
	}
}

.btn--white:active {
	color: $color-black;
	background: $color-white;
	box-shadow: 0 0 0 1px $color-white inset;
}

.btn.btn--white.btn--disabled,
.btn.btn--white:disabled {
	color: $color-gray;
	background: transparent;
	box-shadow: 0 0 0 1px $color-gray inset;
}


.btn--primary-white {
	background: $color-white;
	color: $color-black;
	box-shadow: none;
}

@include no-touch {
	.btn--primary-white:hover {
		color: $color-black;
		background: $color-gray;
		box-shadow: none;
	}
}

.btn--primary-white:active {
	color: $color-black;
	background: $color-gray-dark;
	box-shadow: none;
}

.btn.btn--primary-white.btn--disabled,
.btn.btn--primary-white:disabled {
	color: $color-gray-dark;
	background: $color-gray;
	box-shadow: none;
}

.btn__icon {
	display: inline-block;
	vertical-align: middle;
	align-self: center;
	width: 16px;
	height: 16px;
	margin: 0;
}

.btn__icon--right {
	margin-left: 6px;
}



.btn--lg {
	height: 50px;
	padding: 15px 22px;
}



.btn--sm {
	height: 30px;
	padding: 5px 10px;
	font-size: $fz-small;
}

.btn--sm .btn__icon {
	width: 12px;
	height: 12px;
}


.btn--block {
	width: 100%;
}