.c-black {
	color: $color-black;
}

.c-gray-dark {
	color: $color-gray-dark;
}

.c-gray {
	color: $color-gray;
}

.c-gray-light {
	color: $color-gray-light;
}

.c-primary {
	color: $color-primary;
}

.c-primary-shade-2 {
	color: $color-primary-shade-2;
}

.c-primary-shade-3 {
	color: $color-primary-shade-3;
}

.c-primary-2 {
	color: $color-primary-2;
}

.c-primary-2-shade-2 {
	color: $color-primary-2-shade-2;
}

.c-primary-2-shade-3 {
	color: $color-primary-2-shade-3;
}

.c-success {
	color: $color-success;
}

.c-success-light {
	color: $color-success-light;
}

.c-warning {
	color: $color-warning;
}

.c-warning-light {
	color: $color-warning-light;
}

.c-error {
	color: $color-error;
}

.c-error-light {
	color: $color-error-light;
}



.bg-black {
	background: $color-black;
}

.bg-gray-dark {
	background: $color-gray-dark;
}

.bg-gray {
	background: $color-gray;
}

.bg-gray-light {
	background: $color-gray-light;
}

.bg-white {
	background: $color-white;
}

.bg-primary {
	background: $color-primary;
}

.bg-primary-shade-2 {
	background: $color-primary-shade-2;
}

.bg-primary-shade-3 {
	background: $color-primary-shade-3;
}

.bg-primary-2 {
	background: $color-primary-2;
}

.bg-primary-2-shade-2 {
	background: $color-primary-2-shade-2;
}

.bg-primary-2-shade-3 {
	background: $color-primary-2-shade-3;
}

.bg-success {
	background: $color-success;
}

.bg-success-light {
	background: $color-success-light;
}

.bg-warning {
	background: $color-warning;
}

.bg-warning-light {
	background: $color-warning-light;
}

.bg-error {
	background: $color-error;
}

.bg-error-light {
	background: $color-error-light;
}