/* --- selection --- */
::selection {
	background: $selection-bg;
	color: $selection-color;
}

/* --- basic --- */
body {
	color: $text-color;
	background: $body-bg;
	font: $fw-base #{$fz-base} / #{$lh-base} $ff-base;
	position: relative;
	overflow-x: auto;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.page-main {
	flex: 1 1 auto;
}

/* --- Vue --- */
[v-cloak] {
	display: none;
}

/* --- container --- */
.container {
	max-width: $container-width;
	padding-left: $container-padding;
	padding-right: $container-padding;
	margin-left: auto;
	margin-right: auto;
}

.container--free {
	max-width: none;
}

/* --- overlay --- */
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	visibility: hidden;
	background: $overlay-bg;
	opacity: 0;
	transition: $trs-overlay;
	z-index: 100;
}

.overlay.open,
.state--modal-open .overlay,
.state--modal-loading .overlay {
	opacity: 1;
	visibility: visible;
}

/* --- scroll lock --- */
.state--lock {
	overflow: hidden;
}

/* --- tab behavior --- */
.tab-behavior:not(.open) {
	display: none;
}

/* --- icons --- */
.svg-sprite {
	display: block;
	width: 0;
	height: 0;
	opacity: 0;
	pointer-events: none;
}

.svg-icon {
	display: inline-block;
	vertical-align: middle;
}

.test-scrollbar {
	max-height: 200px;
	overflow-y: auto;
}

// custom scrollbar for Chrome and Safari
.scrollbar::-webkit-scrollbar {
	width: 10px;
	border-radius: 5px;
}

.scrollbar::-webkit-scrollbar-track {
	background-color: transparent;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	border-radius: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
	background-color: $color-gray-dark;
	outline: none;
	border-radius: 5px;
}

// custom scrollbar for Firefox
.scrollbar {
	scrollbar-width: thin;
}

@include media("sm-down") {
	/* --- blocks --- */
	.container {
		padding: 0 $container-padding-sm;
	}

	/* --- overlay --- */
	.state--catalog-aside-open .overlay,
	.state--mobile-nav-open .overlay {
		opacity: 1;
		visibility: visible;
	}
}