/* --- grid --- */
.grid {
	@include grid;
}

.row {
	@include row;
}

.cell {
	@include cell;
}

.col {
	@include col;
}

@for $i from 1 through 12 {
	.col-xl-#{$i} {
		@include make-col($i);
	}
}

@for $i from -12 through 12 {
	.order-xl-#{$i} {
		order: $i;
	}
}



@media (max-width: $screen-lg-max) {
	@for $i from 1 through 12 {
		.col-lg-#{$i} {
			@include make-col($i);
		}
	}

	@for $i from -12 through 12 {
		.order-lg-#{$i} {
			order: $i;
		}
	}
}



@media (max-width: $screen-md-max) {
	@for $i from 1 through 12 {
		.col-md-#{$i} {
			@include make-col($i);
		}
	}

	@for $i from -12 through 12 {
		.order-md-#{$i} {
			order: $i;
		}
	}
}



@media (max-width: $screen-sm-max) {
	@for $i from 1 through 12 {
		.col-sm-#{$i} {
			@include make-col($i);
		}
	}

	@for $i from -12 through 12 {
		.order-sm-#{$i} {
			order: $i;
		}
	}
}



@media (max-width: $screen-xs-max) {
	@for $i from 1 through 12 {
		.col-xs-#{$i} {
			@include make-col($i);
		}
	}

	@for $i from -12 through 12 {
		.order-xs-#{$i} {
			order: $i;
		}
	}
}



@media (max-width: $screen-2xs-max) {
	@for $i from 1 through 12 {
		.col-2xs-#{$i} {
			@include make-col($i);
		}
	}

	@for $i from -12 through 12 {
		.order-2xs-#{$i} {
			order: $i;
		}
	}
}



@media (max-width: $screen-3xs-max) {
	@for $i from 1 through 12 {
		.col-3xs-#{$i} {
			@include make-col($i);
		}
	}

	@for $i from -12 through 12 {
		.order-3xs-#{$i} {
			order: $i;
		}
	}
}



@media (max-width: $screen-4xs-max) {
	@for $i from 1 through 12 {
		.col-4xs-#{$i} {
			@include make-col($i);
		}
	}

	@for $i from -12 through 12 {
		.order-3xs-#{$i} {
			order: $i;
		}
	}
}
