.guideline__head {
	margin: 40px 0;
}

.guideline-block {
	margin: 60px 0;
}

.guideline-block__head {
	margin-bottom: 24px;
}

.guideline-block__head-inner {
	padding-bottom: 20px;
	border-bottom: 1px solid $separator-color;
}

.guideline-color-list__item {
	display: flex;
	margin-bottom: 10px;
	align-items: center;
}

.guideline-color-list__item:last-child {
	margin-bottom: 0;
}

.guideline-color-list__item-color {
	flex: 0 0 auto;
	width: 40px;
	height: 40px;
	border: 1px solid $color-gray-light;
	margin-right: 10px;
}

.guideline-color-list__item-label {
	flex: 1 1 auto;
}

.guideline-element {
	margin: 20px 0;
}

.guideline-grid {
	@include grid;
}

.guideline-grid__cell {
	@include cell;
}