@mixin media($size) {
	$screens:
		"xl" $screen-xl-min 10000px,
		"lg" $screen-lg-min $screen-lg-max,
		"md" $screen-md-min $screen-md-max,
		"sm" $screen-sm-min $screen-sm-max,
		"xs" $screen-xs-min $screen-xs-max,
		"2xs" $screen-2xs-min $screen-2xs-max,
		"3xs" $screen-3xs-min $screen-3xs-max,
		"4xs" $screen-4xs-min $screen-4xs-max;

	@each $name, $screen-min, $screen-max in $screens {
		@if $size == #{$name}-up {
			@media (min-width: $screen-min) {
				@content;
			}
		}
		@else if $size == #{$name}-down {
			@media (max-width: $screen-max) {
				@content;
			}
		}
	}
}



@mixin touch {
	@media (any-hover: none) {
		@content;
	}
}

@mixin no-touch {
	@media (any-hover: hover) {
		@content;
	}
}

@mixin focus-enabled {
	.state--focus-enabled {
		@content;
	}
}

@mixin focus-enabled-internal {
	.state--focus-enabled & {
		@content;
	}
}



@mixin grid {
	display: inline-flex;
	flex-wrap: wrap;
	vertical-align: top;
	margin: -$grid-gutter-base/2;
	width: calc(100% + #{$grid-gutter-base});

	@include media("sm-down") {
		margin: -$grid-gutter-base-sm/2;
		width: calc(100% + #{$grid-gutter-base-sm});
	}
}

@mixin row {
	display: inline-flex;
	flex-wrap: wrap;
	vertical-align: top;
	margin: 0 -$grid-gutter-base/2;
	width: calc(100% + #{$grid-gutter-base});

	@include media("sm-down") {
		margin: 0 -$grid-gutter-base-sm/2;
		width: calc(100% + #{$grid-gutter-base-sm});
	}
}

@mixin cell {
	padding: $grid-gutter-base/2;
	flex: 0 0 auto;
	max-width: 100%;

	@include media("sm-down") {
		padding: $grid-gutter-base-sm/2;
	}
}

@mixin col {
	padding: 0 $grid-gutter-base/2;
	flex: 0 0 auto;
	max-width: 100%;

	@include media("sm-down") {
		padding: 0 $grid-gutter-base-sm/2;
	}
}



@mixin dropdown-base {
	position: absolute;
	top: 100%;
	left: 0;
	transition: $trs-dropdown, left 0s;
	opacity: 0;
	visibility: hidden;
	transform: translate3d(0, 0, 0) scaleY(0);
	transform-origin: left top;
}

@mixin dropdown-base-open {
	opacity: 1;
	visibility: visible;
	transform: translate3d(0, 0, 0) scaleY(1);
}

@mixin dropdown {
	@include dropdown-base;
	margin-top: 5px;
	padding: 20px;
	text-align: left;
	background: $color-white;
	color: $text-color;
	box-shadow: $box-shadow-gray;
	word-wrap: break-word;
	word-break: break-word;
	font-size: $fz-base;
	line-height: $lh-base;
	font-weight: $fw-base;
}

@mixin overlay-open {
	opacity: 1;
	visibility: visible;
}



@mixin panel {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 300px;
	background: $color-white;
	z-index: 120;
	box-shadow: $box-shadow-gray;
	transition: $trs-overlay;
	transform: translate3d(-100%, 0, 0);
	visibility: hidden;
}

@mixin panel-open {
	visibility: visible;
	transform: translate3d(0, 0, 0);
}



@mixin link-base {
	color: $color-primary;
	cursor: pointer;
	border: none;
	text-decoration: none;
	transition: $trs-base;
	outline-offset: 1px;
	outline: none;
}

@mixin link-hover {
	color: $color-primary-2;
	border: none;
	text-decoration: none;
}

@mixin link-focus {
	outline: 1px dashed;
	outline-offset: 1px;
}

@mixin link-active {
	color: $color-primary-2-shade-2;
}

@mixin link {
	@include link-base;

	@include no-touch {
		&:hover {
			@include link-hover;
		}

		@include focus-enabled-internal {
			&:focus {
				@include link-focus;
			}
		}
	}

	&:active {
		@include link-active;
	}
}



@mixin focus-frame {
	content: "";
	position: absolute;
	top: 3px;
	bottom: 3px;
	left: 3px;
	right: 3px;
	border: 1px dashed;
	border-radius: inherit;
	opacity: 0;
	transition: inherit;
	pointer-events: none;
}

@mixin focus-frame-show {
	opacity: .75;
}



@mixin field-base {
	display: block;
	width: 100%;
	min-width: 0;
	background: $color-white;
	border-radius: $border-radius-base;
	border: 1px solid $color-gray;
	padding: 7px 12px;
	box-shadow: none;
	font: $fw-base #{$fz-base}/#{$lh-base} $ff-base;
	transition: $trs-base;
	outline: none;
}

@mixin field-base--sm {
	padding: 2px 12px;
	font-size: $fz-small;
}

@mixin field-hover {
	border-color: $color-black;
}

@mixin field-focus {
	border-color: $color-primary;
}

@mixin field-error {
	border-color: $color-error;
}

@mixin field {
	@include field-base;

	@include no-touch {
		&:hover {
			@include field-hover;
		}
	}

	&:focus {
		@include field-focus;
	}

	.form-error & {
		@include field-error;
	}
}

@mixin make-col($size) {
	width: percentage($size / 12);
}