.price__group {
	display: block;
}

.price__prefix {
	font-size: $fz-small;
	line-height: $lh-small;
}

.price__value {
	font-size: $fz-large;
	line-height: $lh-large;
	font-weight: $fw-bold;
}

.price__currency {
	font-size: $fz-small;
	line-height: $lh-small;
	font-weight: $fw-bold;
}

.price__group--new {
	color: $color-primary-2;
}

.price__group--old {
	color: $color-gray-dark;
	text-decoration: line-through;
}

.price__group--old .price__value {
	font-size: $fz-small;
	line-height: $lh-small;
}



.price--lg .price__prefix,
.price--lg .price__currency {
	font-size: $fz-base;
	line-height: $lh-base;
}

.price--lg .price__value {
	font-size: $fz-larger;
	line-height: $lh-larger;
}

.price--lg .price__group--old .price__value {
	font-size: $fz-base;
	line-height: $lh-base;
}