*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="search"],
input[type="date"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: textfield;
	appearance: none;
}

input,
button,
select,
textarea {
	margin: 0;
}

legend {
	padding: 0;
	margin: 0;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	appearance: none;
	margin: 0;
}

::-webkit-details-marker {
	display: none;
	opacity: 0;
}

::-webkit-search-cancel-button {
	appearance: none;
}

input::-ms-clear {
	display: none;
}

button::-moz-focus-inner {
	border: none;
}

button {
	appearance: none;
	border: none;
	padding: 0;
	font-family: $ff-base;
	font-weight: $fw-base;
	font-size: inherit;
	line-height: inherit;
	outline: none;
	background: transparent;
}

img {
	border: none;
	font-size: $fz-small;
	line-height: $lh-small;
}

iframe {
	border: none;
}

html,
body {
	margin: 0;
	padding: 0;
}

body.ios,
body.ios * {
	cursor: pointer;
}

.touch * {
	outline: none;
}

main {
	display: block;
}