/* --- text --- */
h1,
.h1 {
	font: $fw-h1 #{$fz-h1}/#{$lh-h1} $ff-h1;
	text-transform: $tt-h1;
	letter-spacing: $ls-h1;
	margin: 0;
}

h2,
.h2 {
	font: $fw-h2 #{$fz-h2}/#{$lh-h2} $ff-h2;
	text-transform: $tt-h2;
	letter-spacing: $ls-h2;
	margin: 0;
}

h3,
.h3 {
	font: $fw-h3 #{$fz-h3}/#{$lh-h3} $ff-h3;
	text-transform: $tt-h3;
	letter-spacing: $ls-h3;
	margin: 0;
}

h4,
.h4 {
	font: $fw-h4 #{$fz-h4}/#{$lh-h4} $ff-h4;
	text-transform: $tt-h4;
	letter-spacing: $ls-h4;
	margin: 0;
}

h5,
.h5 {
	font: $fw-h5 #{$fz-h5}/#{$lh-h5} $ff-h5;
	text-transform: $tt-h5;
	letter-spacing: $ls-h5;
	margin: 0;
}

.text-strong {
	font-size: $fz-large;
	line-height: $lh-large;
	font-weight: $fw-strong;
}

.text-small {
	font-size: $fz-small;
	line-height: $lh-small;
	font-weight: $fw-small;
}

.text-smaller {
	font-size: $fz-small;
	line-height: $lh-small;
	font-weight: $fw-small;
}

b {
	font-weight: $fw-bold;
}

.font-base {
	font: $fw-base #{$fz-base}/#{$lh-base} $ff-base;
}

.link,
.text-guide a {
	@include link;
}



ul,
ol,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}


.blockquote,
blockquote {
	padding: 20px 30px 20px 27px;
	border-left: 3px solid $color-primary;
	background: $color-gray-light;
	color: $color-black;
	font-size: $fz-base;
	line-height: $lh-base;
	margin: 25px 0;
}

.video-block {
	position: relative;
	background: $color-gray-light;
}

.video-block::after {
	content: "";
	display: block;
	padding-top: 56.25%;
}

.video-block iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.blockquote:first-child,
blockquote:first-child,
.table-scroller:first-child {
	margin-top: 0;
}

.blockquote:last-child,
blockquote:last-child,
.table-scroller:last-child {
	margin-bottom: 0;
}

hr,
.hr {
	border: none;
	margin: 20px 0;
	border-top: 1px solid $color-gray-light;
}

.hr--lg {
	margin: 60px 0;
}

.text-guide {
	font-size: $fz-base;
	line-height: $lh-base;
}

.text-guide h1,
.text-guide .h1 {
	margin: 20px 0;
	clear: both;
}

.text-guide h2,
.text-guide .h2,
.text-guide h3,
.text-guide .h3,
.text-guide h4,
.text-guide .h4,
.text-guide h5,
.text-guide .h5 {
	margin: 24px 0 16px;
	clear: both;
}

.text-guide ul,
.text-guide ol {
	margin: 20px 0;
}

.text-guide ul > li,
.text-guide ol > li {
	margin: 0 0 8px;
	vertical-align: top;
	padding-left: 25px;
	position: relative;
}

.text-guide li > ul:first-child,
.text-guide li > ol:first-child {
	margin-top: 8px;
}

.text-guide ul > li::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 0;
	width: 12px;
	border-top: 2px solid;
}

.text-guide ol {
	counter-reset: ol;
}

.text-guide ol > li {
	counter-increment: ol;
}

.text-guide ol > li::before {
	content: counter(ol) ".";
	position: absolute;
	top: 0;
	left: 0;
}

.text-guide img {
	display: block;
	max-width: 100%;
	margin: 20px 0;
}

.text-guide img[align="left"],
.text-guide img[align="right"] {
	max-width: 50%;
}

.text-guide img[align="left"] {
	margin: 0 20px 20px 0;
	float: left;
}

.text-guide img[align="right"] {
	margin: 0 0 20px 20px;
	float: right;
}

.text-guide table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 20px 0;
	font-size: $fz-small;
	line-height: $lh-small;
	width: 100%;
}

.table-scroller {
	max-width: 100%;
	overflow: auto;
	margin: 20px 0;
}

.table-scroller table {
	margin: 0;
}

.text-guide td,
.text-guide th {
	border: 1px solid $color-gray;
	transition: background-color $trs-base ease;
	padding: 10px 20px;
	border-collapse: collapse;
	vertical-align: top;
	text-align: left;
}

.text-guide th {
	background: $color-gray-light;
}

.text-guide thead {
	font-weight: $fw-bold;
}

.text-guide tbody tr:hover td {
	background-color: $color-gray-light;
}

.text-guide iframe {
	max-width: 100%;
}

.text-guide .video-block {
	margin: 30px 0;
}

.text-guide h1:first-child,
.text-guide .h1:first-child,
.text-guide h2:first-child,
.text-guide .h2:first-child,
.text-guide h3:first-child,
.text-guide .h3:first-child,
.text-guide h4:first-child,
.text-guide .h4:first-child,
.text-guide h5:first-child,
.text-guide .h5:first-child,
.text-guide p:first-child,
.text-guide ul:first-child,
.text-guide ol:first-child,
.text-guide table:first-child,
.text-guide blockquote:first-child,
.text-guide .video-block:first-child {
	margin-top: 0;
}

.text-guide h1:last-child,
.text-guide .h1:last-child,
.text-guide h2:last-child,
.text-guide .h2:last-child,
.text-guide h3:last-child,
.text-guide .h3:last-child,
.text-guide h4:last-child,
.text-guide .h4:last-child,
.text-guide h5:last-child,
.text-guide .h5:last-child,
.text-guide p:last-child,
.text-guide ul:last-child,
.text-guide ol:last-child,
.text-guide table:last-child,
.text-guide blockquote:last-child,
.text-guide .video-block:last-child {
	margin-bottom: 0;
}



/* --- blackout --- */
.blackout {
	color: $color-white;
}



@include media("md-down") {
	.hr--lg {
		margin: 40px 0;
	}
}



@include media("sm-down") {
	/* --- text --- */
	h1,
	.h1 {
		font: $fw-h1-xs #{$fz-h1-xs}/#{$lh-h1-xs} $ff-h1-xs;
		text-transform: $tt-h1-xs;
		letter-spacing: $ls-h1-xs;
		margin: 0;
	}

	h2,
	.h2 {
		font: $fw-h2-xs #{$fz-h2-xs}/#{$lh-h2-xs} $ff-h2-xs;
		text-transform: $tt-h2-xs;
		letter-spacing: $ls-h2-xs;
		margin: 0;
	}

	h3,
	.h3 {
		font: $fw-h3-xs #{$fz-h3-xs}/#{$lh-h3-xs} $ff-h3-xs;
		text-transform: $tt-h3-xs;
		letter-spacing: $ls-h3-xs;
		margin: 0;
	}

	h4,
	.h4 {
		font: $fw-h4-xs #{$fz-h4-xs}/#{$lh-h4-xs} $ff-h4-xs;
		text-transform: $tt-h4-xs;
		letter-spacing: $ls-h4-xs;
		margin: 0;
	}

	h5,
	.h5 {
		font: $fw-h5-xs #{$fz-h5-xs}/#{$lh-h5-xs} $ff-h5-xs;
		text-transform: $tt-h5-xs;
		letter-spacing: $ls-h5-xs;
		margin: 0;
	}

	.text-strong {
		font-size: $fz-large-xs;
		line-height: $lh-large-xs;
	}

	.text-small {
		font-size: $fz-small-xs;
		line-height: $lh-small-xs;
	}

	.text-guide {
		font-size: $fz-base-xs;
		line-height: $lh-base-xs;
	}

	.text-guide .h1,
	.text-guide h1 {
		margin-top: 40px;
		margin-bottom: 20px;
	}

	.text-guide ul > li,
	.text-guide ol > li {
		margin-bottom: 0;
	}

	.text-guide img,
	.text-guide img[align="left"],
	.text-guide img[align="right"] {
		max-width: 100%;
		float: none;
		margin: 20px 0;
	}
}



@include media("2xs-down") {
	.hr--lg {
		margin: 20px 0;
	}
}
