.fc:first-child,
.flc:first-child {
	margin-top: 0;
}

.lc:last-child,
.flc:last-child {
	margin-bottom: 0;
}

.fcc.fcc {
	margin-top: 0;
}

.lcc.lcc {
	margin-bottom: 0;
}

.flcc.flcc {
	margin-top: 0;
	margin-bottom: 0;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

.visible-ib {
	display: inline-block;
}

.visible-f {
	display: flex;
}

.visible-if {
	display: inline-flex;
}

.visible-inline {
	display: inline;
}

.visible-table {
	display: table;
}

.visible-tc {
	display: table-cell;
}

.toggle-when-open-parent.open .hidden-when-open {
	display: none;
}

.toggle-when-open-parent:not(.open) .hidden-when-not-open {
	display: none;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.clear {
	clear: both;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}



@media (max-width: $screen-md-max) {
	.hidden-md {
		display: none;
	}

	.visible-md {
		display: block;
	}

	.visible-md-inline {
		display: inline;
	}

	.visible-md-f {
		display: flex;
	}

	.visible-md-if {
		display: inline-flex;
	}

	.visible-md-ib {
		display: inline-block;
	}

	.visible-md-table {
		display: table;
	}

	.visible-md-tc {
		display: table-cell;
	}
}



@media (max-width: $screen-sm-max) {
	.hidden-sm {
		display: none;
	}

	.visible-sm {
		display: block;
	}

	.visible-sm-inline {
		display: inline;
	}

	.visible-sm-f {
		display: flex;
	}

	.visible-sm-if {
		display: inline-flex;
	}

	.visible-sm-ib {
		display: inline-block;
	}

	.visible-sm-table {
		display: table;
	}

	.visible-sm-tc {
		display: table-cell;
	}
}



@media (max-width: $screen-xs-max) {
	.hidden-xs {
		display: none;
	}

	.visible-xs {
		display: block;
	}

	.visible-xs-f {
		display: flex;
	}

	.visible-xs-if {
		display: inline-flex;
	}

	.visible-xs-inline {
		display: inline;
	}

	.visible-xs-ib {
		display: inline-block;
	}

	.visible-xs-table {
		display: table;
	}

	.visible-xs-tc {
		display: table-cell;
	}
}



@media (max-width: $screen-2xs-max) {
	.hidden-2xs {
		display: none;
	}

	.visible-2xs {
		display: block;
	}

	.visible-2xs-f {
		display: flex;
	}

	.visible-2xs-if {
		display: inline-flex;
	}

	.visible-2xs-inline {
		display: inline;
	}

	.visible-2xs-ib {
		display: inline-block;
	}

	.visible-2xs-table {
		display: table;
	}

	.visible-2xs-tc {
		display: table-cell;
	}
}



@media (max-width: $screen-3xs-max) {
	.hidden-3xs {
		display: none;
	}

	.visible-3xs {
		display: block;
	}

	.visible-3xs-f {
		display: flex;
	}

	.visible-3xs-if {
		display: inline-flex;
	}

	.visible-3xs-inline {
		display: inline;
	}

	.visible-3xs-ib {
		display: inline-block;
	}

	.visible-3xs-table {
		display: table;
	}

	.visible-3xs-tc {
		display: table-cell;
	}
}



@media (max-width: $screen-4xs-max) {
	.hidden-4xs {
		display: none;
	}

	.visible-4xs {
		display: block;
	}

	.visible-4xs-f {
		display: flex;
	}

	.visible-4xs-if {
		display: inline-flex;
	}

	.visible-4xs-inline {
		display: inline;
	}

	.visible-4xs-ib {
		display: inline-block;
	}

	.visible-4xs-table {
		display: table;
	}

	.visible-4xs-tc {
		display: table-cell;
	}
}