.fade-enter-active,
.fade-leave-active {
	transition: $trs-base;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.dropdown-enter-active,
.dropdown-leave-active {
	transform: translate3d(0, 0, 0) scaleY(1);
	transform-origin: center top;
	transition: $trs-base;
}

.dropdown-enter,
.dropdown-leave-to {
	transform: translate3d(0, 0, 0) scaleY(0);
	opacity: 0;
}

.dropdown-inner-enter-active,
.dropdown-inner-leave-active {
	transition: $trs-base;
}

.dropdown-inner-enter,
.dropdown-inner-leave-to {
	opacity: 0;
}