/*
	variable naming rules:
	color-* -- color value
	fz-* -- font-size value
	fw-* -- font-weight value
	ff-* -- font-family value
	fs-* -- font-style value
	*-color -- color of specific element
	*-bg -- background of specific element
	...
*/

/* sizes */
$screen-xl-min: 1440px;
$screen-lg-max: 1439px;
$screen-lg-min: 1280px;
$screen-md-max: 1279px;
$screen-md-min: 1024px;
$screen-sm-max: 1023px;
$screen-sm-min: 768px;
$screen-xs-max: 767px;
$screen-xs-min: 640px;
$screen-2xs-max: 639px;
$screen-2xs-min: 480px;
$screen-3xs-max: 479px;
$screen-3xs-min: 380px;
$screen-4xs-max: 379px;
$screen-4xs-min: 0px;



/* container */
$container-width: 1600px;
$container-padding: 30px;
$container-padding-sm: 20px;



/* grid */
$grid-gutter-base: 24px;
$grid-gutter-base-sm: 20px;



/* colors */
$bg-dark: #141516;
$bg-dark-gradient: linear-gradient(144.13deg, #41454F 22.81%, #0E0F12 81.09%);
$bg-light: #F6F6F6;
$bg-light-gradient: linear-gradient(180deg, #ECECEC 0%, #D3D3D3 93.86%);

$color-black: #0B0D13;
$color-white: #fff;
$color-gray-darker: #353941;
$color-gray-dark: #77797F;
$color-gray: #A4A6AA;
$color-gray-light: #F3F3F3;

//---------------

$color-error: #e11;
$color-error-light: #faa;
$color-warning: #e91;
$color-warning-light: #fd8;
$color-success: #1b1;
$color-success-light: #afa;

$color-primary: #06e;
$color-primary-shade-2: #04a;
$color-primary-shade-3: #028;
$color-primary-2: #e06;
$color-primary-2-shade-2: #a04;
$color-primary-2-shade-3: #802;

$text-color: $color-black;
$link-color: $color-primary;
$link-color-hover: $color-primary;

$body-bg: $color-white;
$loader-bg: rgba(255, 255, 255, .7);

$separator-color: $color-gray;

$selection-color: $color-white;
$selection-bg: $color-primary;

$overlay-bg: rgba(0, 0, 0, .75);



/* shadow */
$box-shadow-blue: 0px 8px 25px rgba(0, 41, 255, 0.4);
$box-shadow-orange: 0px 8px 25px rgba(246, 164, 41, 0.58);
$box-shadow-pink: 0px 4px 22px rgba(255, 86, 127, 0.34);
$box-shadow-gray-light: 0px 4px 8px rgba(19, 25, 34, 0.08);
$box-shadow-gray: 0px 4px 25px rgba(19, 25, 34, 0.1);
$box-shadow-black: -9px 20px 30px rgba(0, 0, 0, 0.21);



/* border radius */
$border-radius-base: 20px;
$border-radius-base-large: 30px;



/* text */
$ff-base: Cera Pro, Arial, Helvetica, sans-serif;
$fw-regular: 400;
$fw-bold: 700;
$fw-base: $fw-regular;
$fw-small: $fw-regular;
$fw-strong: $fw-regular;
$fz-base: 20px;
$lh-base: 1.4;
$fz-small: 18px;
$lh-small: 1.4;
$fz-smaller: 14px;
$lh-smaller: 1.3;
$fz-large: 22px;
$lh-large: 1.3;
$fz-larger: 24px;
$lh-larger: 1.3;

$ff-h1: $ff-base;
$fz-h1: 52px;
$fw-h1: $fw-bold;
$lh-h1: 1.1;
$tt-h1: none;
$ls-h1: normal;

$ff-h2: $ff-base;
$fz-h2: 42px;
$fw-h2: $fw-bold;
$lh-h2: 1.1;
$tt-h2: none;
$ls-h2: normal;

$ff-h3: $ff-base;
$fz-h3: 32px;
$fw-h3: $fw-bold;
$lh-h3: 1.1;
$tt-h3: none;
$ls-h3: normal;

$ff-h4: $ff-base;
$fz-h4: 24px;
$fw-h4: $fw-bold;
$lh-h4: 1.2;
$tt-h4: none;
$ls-h4: normal;

$ff-h5: $ff-base;
$fz-h5: 20px;
$fw-h5: $fw-bold;
$lh-h5: 1.1;
$tt-h5: none;
$ls-h5: normal;

/* text xs */
$fz-base-xs: 16px;
$lh-base-xs: 24px;
$fz-small-xs: 14px;
$lh-small-xs: 20px;
$fz-smaller-xs: 12px;
$lh-smaller-xs: 20px;
$fz-large-xs: 18px;
$lh-large-xs: 26px;

$ff-h1-xs: $ff-base;
$fz-h1-xs: 28px;
$fw-h1-xs: $fw-bold;
$lh-h1-xs: 36px;
$tt-h1-xs: none;
$ls-h1-xs: normal;

$ff-h2-xs: $ff-base;
$fz-h2-xs: 24px;
$fw-h2-xs: $fw-bold;
$lh-h2-xs: 30px;
$tt-h2-xs: none;
$ls-h2-xs: normal;

$ff-h3-xs: $ff-base;
$fz-h3-xs: 20px;
$fw-h3-xs: $fw-bold;
$lh-h3-xs: 28px;
$tt-h3-xs: none;
$ls-h3-xs: normal;

$ff-h4-xs: $ff-base;
$fz-h4-xs: 18px;
$fw-h4-xs: $fw-bold;
$lh-h4-xs: 26px;
$tt-h4-xs: none;
$ls-h4-xs: normal;

$ff-h5-xs: $ff-base;
$fz-h5-xs: 16px;
$fw-h5-xs: $fw-bold;
$lh-h5-xs: 24px;
$tt-h5-xs: none;
$ls-h5-xs: normal;



/* transitions */
$trs-base: .3s;
$trs-dropdown: .25s;
$trs-overlay: .25s;