mixin breadcrumbs(chain = ['test', 'test'])
	.breadcrumbs
		.container
			ul.breadcrumbs__list
				each item in chain
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#")= item
						svg.breadcrumbs__separator
							use(xlink:href="#svg-icon-chevron-right-sm")