.active-filters__grid {
	@include grid;
}

.active-filters__grid.active-filters__grid {
	margin: -5px;
	width: calc(100% + 10px);
}

.active-filters__cell {
	@include cell;
}

.active-filters__cell.active-filters__cell {
	padding: 5px;
}