.article-grid__grid {
	@include grid;
	margin-top: -20px;
	margin-bottom: -20px;
}

.article-grid__cell {
	@include cell;
	width: 25%;
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	padding-bottom: 20px;
}



@include media("sm-down") {
	.article-grid__grid {
		margin-top: -20px;
		margin-bottom: -20px;
	}

	.article-grid__cell {
		width: 33.33%;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}



@include media("md-down") {
	.article-grid__cell {
		width: 33.33%;
	}
}



@include media("xs-down") {
	.article-grid__cell {
		width: 50%;
	}
}



@include media("3xs-down") {
	.article-grid__grid {
		margin-top: -16px;
		margin-bottom: -16px;
	}

	.article-grid__cell {
		width: 100%;
		padding-top: 16px;
		padding-bottom: 16px;
	}
}