.article-poster {
	position: relative;
	width: 100%;
	min-height: 224px;
}

.article-poster__link {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: none;
	z-index: 2;
	outline: none;
}

.article-poster__link::after {
	@include focus-frame;
	top: -4px;
	bottom: -4px;
	left: -4px;
	right: -4px;
}

.article-poster__visual {
	position: relative;
	z-index: 1;
	margin: 0 0 12px 0;
	max-width: 256px;
}

.article-poster__visual::after {
	content: "";
	display: block;
	padding-top: 56.25%;
}

.article-poster__status {
	position: absolute;
	top: -5px;
	left: -5px;
}

.article-poster__image,
.article-poster__image.product-image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: flex-start;
}

.article-poster__title {
	margin: 8px 0;
	color: $color-black;
	transition: $trs-base;
}

@include no-touch {
	.article-poster:hover .article-poster__title {
		@include link-hover;
	}
}

.article-poster:active .article-poster__title {
	@include link-active;
}

@include focus-enabled {
	.article-poster__link:focus::after {
		@include focus-frame-show;
	}
}