.availability {
	display: flex;
	font-size: $fz-small;
	line-height: $lh-small;
}

.availability__icon {
	width: 10px;
	height: $lh-small;
	display: block;
	flex: 0 0 auto;
}

.availability__main {
	flex: 1 1 auto;
}

.availability__icon + .availability__main {
	margin-left: 6px;
}

.availability--available {
	color: $color-success;
}

.availability--unavailable {
	color: $color-error;
}