.badge {
	display: inline-block;
	vertical-align: top;
	border-radius: $border-radius-base;
	color: $color-white;
	background: $color-gray-dark;
	font-size: $fz-small;
	line-height: $lh-small;
	padding: 1px 4px;
}

.badge--primary {
	background: $color-primary;
}