.basket-action__widget {
	display: flex;
	width: 100%;
}

.basket-action__cell-input {
	flex: 1 1 auto;
	min-width: 0;
}

.basket-action__cell-main {
	flex: 0 0 auto;
}

.basket-action__cell-input + .basket-action__cell-main {
	margin-left: 12px;
}

.basket-action__btn {
	padding-left: 10px;
	padding-right: 10px;
}

.basket-action__btn-icon {
	width: 20px;
	height: 20px;
	display: block;
}