.basket-small {
	position: relative;
}

.basket-small__widget {
	display: flex;
	align-items: center;
	position: relative;
	color: $color-black;
	text-decoration: none;
	cursor: pointer;
	transition: $trs-base;
	outline: none;
}

.basket-small__widget::after {
	@include focus-frame;
	left: -2px;
	right: -2px;
	bottom: -2px;
	top: -2px;
}

@include focus-enabled {
	.basket-small__widget:focus::after {
		@include focus-frame-show;
	}
}

.basket-small__cell-icon {
	flex: 0 0 auto;
	position: relative;
}

.basket-small__cell-main {
	flex: 1 1 auto;
}

.basket-small__cell-icon + .basket-small__cell-main {
	margin-left: 10px;
}

.basket-small__icon {
	display: block;
	width: 40px;
	height: 40px;
	color: $color-gray;
	transition: $trs-base;
}

.basket-small__badge {
	position: absolute;
	top: 0;
	right: 0;
}

.basket-small__title {
	color: $color-gray-dark;
}

.basket-small__price {
	color: $color-black;
	transition: $trs-base;
}

@include no-touch {
	.basket-small__widget:hover .basket-small__icon,
	.basket-small__widget:hover .basket-small__price {
		color: $color-primary-2;
	}
}

.basket-small__widget:active .basket-small__icon,
.basket-small__widget:active .basket-small__price {
	color: $color-primary-2-shade-3;
}

.basket-small--empty .basket-small__widget .basket-small__icon {
	color: $color-gray;
}

.basket-small--empty .basket-small__widget .basket-small__price {
	color: $color-black;
}

.basket-small--empty .basket-small__widget {
	cursor: default;
}



@include media("md-down") {
	.basket-small__cell-main {
		display: none;
	}
}