.breadcrumbs {
	margin: 15px 0;
	font-size: $fz-small;
	line-height: $lh-small;
	cursor: default;
}

.breadcrumbs__list {
	display: inline-flex;
	vertical-align: top;
	flex-wrap: wrap;
	margin: -2px -5px;
	width: calc(100% + 10px);
}

.breadcrumbs__item {
	display: flex;
	align-items: center;
	flex: 0 0 auto;
	max-width: 100%;
	padding: 2px 5px;
}

.breadcrumbs__separator {
	width: 5px;
	height: 8px;
	margin: 1px 0 0 10px;
	color: $color-gray-dark;
}

.breadcrumbs__link {
	@include link;
	flex: 0 1 auto;
	color: $color-gray-dark;
	cursor: pointer;
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}