.catalog-item {
	position: relative;
	margin: 0 0 60px;
}

.catalog-item__wrap {
	display: flex;
}

.catalog-item__aside {
	flex: 0 0 auto;
	width: 460px;
	padding-right: 40px;
}

.catalog-item__main {
	flex: 1 1 auto;
}

.catalog-item__visual-wrap {
	position: sticky;
	top: 20px;
}

.catalog-item__visual {
	position: relative;
	max-width: 420px;
}

.catalog-item__visual::after {
	content: "";
	display: block;
	padding-top: 100%;
}

.catalog-item__image,
.catalog-item__image.product-image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.catalog-item__status {
	position: absolute;
	top: -6px;
	left: -6px;
	z-index: 3;
}

.catalog-item__availability {
	margin: 10px 0;
}

.catalog-item__price {
	margin: 10px 0;
}

.catalog-item__basket-action {
	margin: 15px 0;
	max-width: 216px;
}

.catalog-item__filter {
	position: relative;
	margin: 25px 0;
	max-width: 300px;
}

.catalog-item__info {
	margin: 40px 0;
}

.catalog-item__params {
	margin: 30px 0;
	max-width: 400px;
}

.catalog-item__description {
	margin: 30px 0;
}



@media (max-height: 500px) {
	.catalog-item__visual-wrap {
		position: relative;
	}
}



@include media("sm-down") {
	.catalog-item__wrap {
		display: block;
	}

	.catalog-item__aside {
		padding: 0;
		margin-bottom: 20px;
		width: auto;
	}
}