.catalog {
	position: relative;
	margin: 0 0 40px;
}

.catalog__placeholder {
	min-height: 200px;
}

.catalog__layout {
	display: flex;
	@include grid;
	flex-wrap: nowrap;
}

.catalog__layout-aside {
	@include cell;
	width: 20%;
}

.catalog__layout-main {
	@include cell;
	flex: 1 1 auto;
}

.catalog__list-message {
	margin: 20px 0;
}

.catalog__list-message-title {
	margin: 12px 0;
}

.catalog__list-message-body {
	margin: 12px 0;
}

.catalog__list-message-actions {
	margin: 20px 0;
}

.catalog__list-message-actions-grid {
	@include grid;
}

.catalog__list-message-action {
	@include cell;
}

.catalog__top-nav {
	margin: 20px 0;
}

.catalog__top-nav-grid {
	@include grid;
	margin-top: -5px;
	margin-bottom: -5px;
	justify-content: flex-end;
	flex-wrap: nowrap;
}

.catalog__top-nav-cell {
	@include cell;
	padding-top: 5px;
	padding-bottom: 5px;
}

.catalog__top-nav-cell--active-filters {
	margin-right: auto;
	min-width: 0;
	flex: 1 1 auto;
}

.catalog__top-nav-cell--select {
	width: 240px;
}

.catalog__top-nav-cell--aside-toggle {
	display: none;
}

.catalog__aside-toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	width: 40px;
	height: 40px;
	color: $color-primary;
	transition: $trs-base;
}

.catalog__aside-toggle-icon {
	display: block;
	width: 40px;
	height: 40px;
}

.catalog__aside-toggle::after {
	@include focus-frame;
}

@include no-touch {
	.catalog__aside-toggle:hover {
		color: $color-primary-shade-2;
	}
}

@include focus-enabled {
	.catalog__aside-toggle:focus::after {
		@include focus-frame-show;
	}
}

.catalog__aside-toggle:active {
	color: $color-primary-shade-3;
}



.catalog__aside-close {
	display: none;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	background: transparent;
	color: $color-white;
	cursor: pointer;
	transition: $trs-base;
	opacity: 0;
	visibility: hidden;
}

.catalog__aside-close-icon {
	display: block;
	width: 30px;
	height: 30px;
}

.catalog__aside-close::after {
	@include focus-frame;
}

@include no-touch {
	.catalog__aside-close:hover {
		color: $color-gray-light;
	}
}

@include focus-enabled {
	.catalog__aside-close:focus::after {
		@include focus-frame-show;
	}
}

.catalog__aside-close:active {
	color: $color-gray;
}



@include media("md-down") {
	.catalog__layout-aside {
		width: 25%;
	}
}



@include media("sm-down") {
	.catalog__top-nav-cell--aside-toggle {
		display: block;
	}

	.catalog__top-nav-cell--select,
	.catalog__top-nav-cell--view {
		display: none;
	}

	.catalog__aside-close {
		display: flex;
		position: absolute;
		top: 0;
		left: 100%;
	}

	.catalog__layout-aside {
		@include panel;
	}

	.catalog__layout-aside-container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}

	.catalog__layout-aside-container-inner {
		padding: 20px;
	}

	.catalog__layout-main {
		width: 100%;
	}

	.state--catalog-aside-open .catalog__layout-aside {
		@include panel-open;
	}

	.state--catalog-aside-open .catalog__aside-close {
		opacity: 1;
		visibility: visible;
	}
}