.contact-link-block {
	margin: 8px 0;
}

.contact-link {
	display: block;
	color: $color-black;
	border: none;
	text-decoration: none;
	outline: none;
}

.contact-link__note {
	color: $color-gray-dark;
}

.contact-link__value {
	font-size: $fz-base;
	line-height: $lh-base;
	@include link-base;
}

@include no-touch {
	.contact-link:hover .contact-link__value {
		@include link-hover;
	}
}

@include focus-enabled {
	.contact-link:focus .contact-link__value {
		@include link-focus;
	}
}

.contact-link:active .contact-link__value {
	@include link-active;
}