.download-apps__layout {
	display: flex;
	align-items: center;
}

.download-apps__title {
	font-size: $fz-smaller;
	line-height: $lh-smaller;
	letter-spacing: -0.04em;
	color: $color-gray;
	margin-right: 20px;
	margin-bottom: 2px;
}

.download-apps__list {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
}

.download-apps__item {
	margin-right: 14px;

	&:last-child {
		margin-right: 0;
	}
}

.download-apps__link {
	display: flex;
	justify-content: center;
	align-items: center;
}

.download-apps__icon {
	width: 21px;
	height: 21px;
}