.field__errors {
	margin-top: 6px;
}

.field__error {
	display: block;
	font-size: $fz-small;
	line-height: $lh-small;
	color: $color-error;
	margin-top: 3px;
}

.field__multiple-list {
	margin-bottom: 15px;
}

.field__multiple-list-grid {
	@include grid;
}

.field__multiple-list-item {
	@include cell;
	width: 100%;
}

.field__multiple-list-remove {
	margin-top: 4px;
}