.field-file__input-block {
	display: inline-block;
	position: relative;
	overflow: hidden;
	vertical-align: top;
}

.field-file__input {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	pointer-events: none;
}

.field-file__list {
	margin-bottom: 15px;
}

.field-file__item {
	margin-bottom: 6px;
	display: flex;
	width: 100%;
}

.field-file__item:last-child {
	margin-bottom: 0;
}

.field-file__item-start {
	flex: 1 1 auto;
}

.field-file__item-end {
	flex: 0 0 auto;
	margin-left: 12px;
}