.field-checkbox {
	display: flex;
	position: relative;
	cursor: pointer;
	align-items: baseline;
	width: fit-content;
}

.field-checkbox__input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
}

.field-checkbox__visual {
	flex: 0 0 auto;
	width: 18px;
	height: 18px;
	border: 1px solid $color-gray;
	background: $color-white;
	margin-right: 8px;
	transform: translateY(3px);
	border-radius: $border-radius-base;
	transition: $trs-base;
	position: relative;
}

.field-checkbox__visual::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	border-bottom: 2px solid $color-white;
	border-left: 2px solid $color-white;
	width: 11px;
	height: 6px;
	transform: translateY(-1px) translate(-50%, -50%) rotate(-45deg);
	opacity: 0;
	transition: $trs-base;
}

.field-checkbox__visual::before {
	@include focus-frame;
	color: $color-gray-dark;
	top: -3px;
	left: -3px;
	right: -3px;
	bottom: -3px;
}

.field-checkbox__text {
	flex: 1 1 auto;
}

.field-checkbox__input:checked ~ .field-checkbox__visual {
	border-color: $color-primary;
	background: $color-primary;
}

.field-checkbox__input:checked ~ .field-checkbox__visual::after {
	opacity: 1;
}

.field-checkbox--radio .field-checkbox__visual {
	border-radius: 50%;
}

.field-checkbox--radio .field-checkbox__visual::after {
	border: none;
	width: 10px;
	height: 10px;
	background: $color-white;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

@include no-touch {
	.field-checkbox:hover .field-checkbox__visual {
		border-color: $color-black;
	}

	.field-checkbox:hover .field-checkbox__input:checked ~ .field-checkbox__visual {
		border-color: $color-primary-shade-2;
		background: $color-primary-shade-2;
	}
}

@include focus-enabled {
	.field-checkbox__input:focus ~ .field-checkbox__visual::before {
		@include focus-frame-show;
	}
}

.field-checkbox__input:disabled ~ .field-checkbox__visual {
	background: $color-gray-light;
	border-color: $color-gray;
}

.field-checkbox__input:disabled:checked ~ .field-checkbox__visual {
	background: $color-gray;
	border-color: $color-gray-dark;
}