.field-range {
	font-size: $fz-base;
}

.field-range--sm {
	font-size: $fz-small;
}

.field-range,
.field-range__cell {
	display: flex;
	align-items: center;
}

.field-range__cell {
	flex: 1 1 auto;
	min-width: 0;
}

.field-range__prefix {
	margin-right: 5px;
}

.field-range__postfix {
	margin-left: 5px;
}

.field-range__spacer {
	flex: 0 0 auto;
	margin: 0 5px;
}