.field-count {
	position: relative;
}

.field-count__input {
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
}

.field-count__btn {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 40px;
	cursor: pointer;
	color: $color-gray;
	transition: $trs-base;
}

@include no-touch {
	.field-count__btn:hover {
		color: $color-black;
	}
}

.field-count__btn:active {
	color: $color-black;
}

.field-count__btn:disabled {
	color: $color-gray-light;
	background: transparent;
}

.field-count__btn--sub {
	left: 0;
}

.field-count__btn--add {
	right: 0;
}

.field-count__btn--sub::before,
.field-count__btn--add::before,
.field-count__btn--add::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	height: 2px;
	width: 12px;
	background: currentColor;
	transform: translate(-50%, -50%);
}

.field-count__btn--add::after {
	transform: translate(-50%, -50%) rotate(90deg);
}