.field-range-slider {
	user-select: none;
}

.field-range-slider__labels {
	display: flex;
	margin-bottom: 8px;
}

.field-range-slider__label {
	font-size: $fz-base;
	line-height: $lh-base;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 50%;
	flex: 0 0 auto;
	user-select: text;
}

.field-range-slider__label--max {
	margin-left: auto;
}

.field-range-slider__controls {
	position: relative;
}

.field-range-slider__ruler {
	height: 4px;
	border-radius: 2px;
	background: $color-gray-light;
}

.field-range-slider__active {
	height: 4px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: $color-primary;
}

.field-range-slider__handle {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: $color-primary;
	box-shadow: $box-shadow-gray;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.field-range-slider__handle--z-bump {
	z-index: 2;
}

.field-range-slider--disabled .field-range-slider__active,
.field-range-slider--disabled .field-range-slider__handle {
	background: $color-gray-light;
	cursor: default;
}