.field-input {
	@include field;
}

.field-input--sm {
	@include field-base--sm;
	height: 30px;
}

.field-input--textarea {
	height: 120px;
	resize: vertical;
}

.field-input--textarea.field-input--sm {
	line-height: $lh-small;
}

.field-input:disabled {
	background: $color-gray-light;
}