.field-select {
	position: relative;
	user-select: none;
	z-index: 1;
	transition: z-index 0s ease $trs-base;
}

.field-select__label {
	display: block;
	font-size: $fz-base;
	line-height: $lh-base;
	font-weight: $fw-bold;
	margin-bottom: 6px;
}

.field-select__btn {
	@include field-base;
	text-align: left;
	cursor: pointer;
	height: 40px;
	padding-right: 30px;
	position: relative;
}

.field-select--sm .field-select__btn {
	@include field-base--sm;
	height: 30px;
	padding-right: 30px;
}

.field-select__btn-text,
.field-select__btn-placeholder {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.field-select__btn-arrow {
	position: absolute;
	top: 50%;
	right: 12px;
	width: 12px;
	height: 8px;
	margin-top: -4px;
	transition: transform $trs-base;
}

@include no-touch {
	.field-select__btn:hover {
		@include field-hover;
	}
}

@include focus-enabled {
	.field-select__btn:focus {
		@include field-focus;
	}
}

.field-select--open {
	transition: z-index 0s;
	z-index: 20;
}

.field-select--open .field-select__btn {
	@include field-focus;
}

.field-select--open .field-select__btn-arrow {
	transform: rotate(180deg);
}

.field-select__btn-placeholder {
	color: $color-gray;
}

.field-select__list {
	position: absolute;
	top: 100%;
	left: 0;
	margin-top: 2px;
	border-radius: $border-radius-base;
	box-shadow: $box-shadow-gray;
	background: $color-white;
	max-height: 50vh;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	padding: 6px 0;
	transform-origin: center top;
}

.field-select__list-item {
	display: block;
	width: 100%;
	text-align: left;
	padding: 6px 10px;
	cursor: pointer;
	font-size: $fz-base;
	line-height: $lh-base;
	transition: $trs-base;
	color: $color-black;
	position: relative;
	outline: none;
}

.field-select__list-item::after {
	@include focus-frame;
}

@include touch {
	.field-select__list-item {
		padding-top: 8px;
		padding-bottom: 8px;
	}
}

@include no-touch {
	.field-select__list-item:hover {
		background: $color-gray-light;
	}
}

@include focus-enabled {
	.field-select__list-item:focus::after {
		@include focus-frame-show;
	}
}

.field-select__list-item:active {
	background: $color-gray;
}

.field-select__list-item.field-select__list-item--active {
	background: $color-primary;
	color: $color-white;
	cursor: default;
}