.filter__group {
	margin: 24px 0;
}

.filter__list-item {
	margin-bottom: 6px;
}

.filter__list-item:last-child {
	margin-bottom: 0;
}

.filter__link {
	@include link;
}

.filter__link.filter__link--current {
	cursor: default;
	color: $color-black;
	font-weight: $fw-bold;
}

.filter__group-body {
	margin: 8px 0;
}

.filter__group--view,
.filter__group--sort {
	display: none;
}



@include media("sm-down") {
	.filter__group--view,
	.filter__group--sort {
		display: block;
	}
}