.form {
	position: relative;
}

.form--card {
	max-width: 820px;
	padding: 24px;
	border-radius: $border-radius-base;
	border: 1px solid $color-gray;
}

.form__header {
	margin: 30px 0;
}

.form__header-title {
	margin: 8px 0;
}

.form__header-note {
	margin: 8px 0;
}

.form__groups {
	@include grid;
	margin-top: -20px;
	margin-bottom: -20px;
}

.form__groups.form__groups {
	margin-top: -20px;
	margin-bottom: -20px;
}

.form__group {
	@include cell;
	width: 100%;
}

.form__group.form__group {
	padding-top: 20px;
	padding-bottom: 20px;
}

.form__group-title {
	margin: 8px 0;
}

.form__group-note {
	margin: 8px 0;
}

.form__group-body {
	margin: 18px 0;
}

.form__fields {
	@include grid;
}

.form__field {
	@include cell;
	width: 100%;
}

.form__field.form__field--spacer {
	padding: 0;
}

.form__footer {
	margin: 30px 0;
}

.form__actions {
	@include grid;
}

.form__action {
	@include cell;
}



@include media("sm-down") {
	.form--card {
		padding: 20px;
	}
}



@include media("2xs-down") {
	.form__group {
		width: 100% !important;
	}

	.form__field {
		width: 100% !important;
	}
}