.gallery {
	display: flex;
	width: 100%;
	height: 100%;
	flex: 1 1 auto;
	max-height: 100vh;

	/* contain: strict; */
}

.gallery__view {
	display: flex;
	flex: 1 1 auto;
	min-width: 0;
	position: relative;
	overflow: hidden;

	/* contain: strict; */
}

.gallery__view-list {
	display: flex;
	width: 100%;
	transform: translate3d(0, 0, 0);
	transition: .3s;
}

.gallery__view-item {
	display: flex;
	flex: 0 0 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	overflow: hidden;
	position: relative;
}

.gallery__view-item-wrapper {
	outline: none;
	transition: .3s;
}

.gallery__view-item-wrapper,
.gallery__view-item-wrapper img {
	flex: 0 0 auto;
	max-width: 100%;
	max-height: 100%;
	text-align: center;
}

.gallery__previews {
	flex: 0 0 auto;
	width: 310px;
	background: $color-white;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.gallery__previews-container {
	padding: 66px 20px 20px;
}

.gallery__previews-list {
	display: inline-flex;
	vertical-align: top;
	margin: -5px;
	width: calc(100% + 10px);
	flex-wrap: wrap;
}

.gallery__previews-item {
	position: relative;
	margin: 5px;
	width: calc(50% - 10px);
	flex: 0 0 auto;
	background: rgba(0, 0, 0, .7) no-repeat center / cover;
	cursor: pointer;
	box-shadow: 0 0 0 2px rgba($color-primary, 0) inset;
	transition: $trs-base;
	outline: none;
}

.gallery__previews-item::before {
	content: "";
	display: block;
	padding-top: 56.25%;
}

.gallery__previews-item::after {
	@include focus-frame;
}

.gallery__previews-item.active {
	box-shadow: 0 0 0 2px $color-primary inset;
}

@include no-touch {
	.gallery__previews-item:hover {
		box-shadow: 0 0 0 2px $color-primary inset;
	}

	.gallery__view-item-wrapper {
		cursor: zoom-in;
	}

	.gallery__view-item-wrapper--cursor-default {
		cursor: default;
	}
}

@include focus-enabled {
	.gallery__previews-item:focus::after {
		@include focus-frame-show;
	}
}

.gallery__arrow,
.gallery__close {
	position: absolute;
	background: rgba($color-gray-light, .4);
	color: $color-black;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 0;
	cursor: pointer;
	transition: $trs-base;
	z-index: 2;
	outline: none;
}

.gallery__arrow::after,
.gallery__close::after {
	@include focus-frame;
}

@include no-touch {
	.gallery__close:hover,
	.gallery__arrow:hover {
		background: rgba($color-gray-light, .8);
		color: $color-black;
	}
}

@include focus-enabled {
	.gallery__arrow:focus::after,
	.gallery__close:focus::after {
		@include focus-frame-show;
	}
}

.gallery__view-item-note {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	pointer-events: none;
}

.gallery__view-item-note-box {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	pointer-events: all;
	font-size: $fz-base;
	line-height: $lh-base;
	background: rgba(0, 0, 0, .7);
	color: $color-white;
	padding: 14px 24px;
	border-radius: $border-radius-base $border-radius-base 0 0;
	cursor: default;
	cursor: auto;
}

.gallery__arrow {
	top: 50%;
	width: 46px;
	height: 80px;
	margin-top: -40px;
}

.gallery__arrow-icon {
	width: 20px;
	height: 40px;
}

.gallery__arrow--prev {
	left: 0px;
	border-radius: 0 $border-radius-base $border-radius-base 0;
}

.gallery__arrow--next {
	right: 0px;
	border-radius: $border-radius-base 0 0 $border-radius-base;
}

.gallery__arrow.disabled.disabled {
	cursor: not-allowed;
	background: rgba($color-gray-light, .2);
	color: rgba($color-black, .5);
}

.gallery__close {
	top: 0;
	right: 0;
	width: 46px;
	height: 46px;
	border-radius: 0 0 0 $border-radius-base;
}

.gallery__close .svg-icon {
	width: 20px;
	height: 20px;
}

@include touch {
	.gallery__arrow {
		display: none;
	}

	.gallery__view-item-wrapper {
		pointer-events: none;
	}
}

.gallery__iframe-wrapper {
	flex: 1 1 auto;
	outline: none;
	transition: .3s;
	position: relative;
	width: 100%;
}

.gallery__iframe-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
}

.gallery__video-wrapper {
	flex: 0 0 auto;
	max-height: 100%;
	max-width: 100%;
	outline: none;
	transition: .3s;
	text-align: center;
}


@include media("md-down") {
	.gallery__previews {
		width: 170px;
	}

	.gallery__previews-item {
		width: calc(100% - 10px);
	}
}



@include media("sm-down") {
	.gallery {
		flex-direction: column;
	}

	.gallery__previews {
		width: 100%;
		overflow-y: hidden;
		overflow-x: auto;
	}

	.gallery__previews-container {
		padding: 0;
	}

	.gallery__previews-list {
		flex-wrap: nowrap;
		padding: 5px;
		width: auto;
		margin: 0;
	}

	.gallery__previews-item {
		width: 130px;
	}

	.gallery__view-item-note-box {
		border-radius: 0;
		width: 100%;
	}
}



@include media("xs-down") {
	.gallery__previews-item {
		width: 100px;
	}
}