.hero-slider,
.v-hero-slider {
	display: block;
	position: relative;
	min-height: 540px;
	background: $color-gray-light;
}

.hero-slider__arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	bottom: 0;
	width: calc(50vw - #{$container-width} / 2);
	min-width: 80px;
	cursor: pointer;
	transition: $trs-base;
	color: $color-gray;
	filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, .2));
	z-index: 10;
}

.hero-slider__arrow--prev {
	right: 50%;
	margin-right: calc(#{$container-width} / 2 - #{$container-padding});
}

.hero-slider__arrow--next {
	left: 50%;
	margin-left: calc(#{$container-width} / 2 - #{$container-padding});
}

.hero-slider__icon {
	display: block;
	width: 26px;
	height: 50px;
}


@include media("lg-down") {
	.hero-slider,
	v-hero-slider {
		min-height: calc(540 / 1600 * 100vw);
	}

	.hero-slider__arrow {
		width: 80px;
		margin: 0;
	}

	.hero-slider__arrow--prev {
		left: 0;
	}

	.hero-slider__arrow--next {
		left: auto;
		right: 0;
	}
}


@include media("sm-down") {
	.hero-slider,
	v-hero-slider {
		min-height: calc(480 / 1000 * 100vw);
	}
}


@include media("2xs-down") {
	.hero-slider,
	v-hero-slider {
		min-height: calc(480 / 480 * 100vw);
	}
}