.hero-block,
v-hero-block {
	color: $color-black;
	background: $color-gray-light;
	padding: 60px 0;
	min-height: 540px;
}

.hero-block,
.hero-block__fg-layer {
	position: relative;
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}

.hero-block {
	display: flex;
}

.hero-block__container {
	width: 100%;
}

.hero-block__content {
	max-width: 500px;
}

.hero-block__title {
	margin: 12px 0;
}

.hero-block__text {
	margin: 12px 0;
}

.hero-block__actions {
	margin: 24px 0;
}

.hero-block__actions-grid {
	@include grid;
}

.hero-block__actions-cell {
	@include cell;
}

.hero-block__action {
	position: relative;
	z-index: 4;
}

.hero-block__link,
.hero-block__bg-layer,
.hero-block__bg,
.hero-block__bg-image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.hero-block__link {
	z-index: 3;
}

.hero-block__link::after {
	@include focus-frame;
}

@include focus-enabled {
	.hero-block__link:focus::after {
		@include focus-frame-show;
	}
}

.hero-block__bg-layer {
	background: $color-gray-light;
}

.hero-block__bg-image {
	background: no-repeat center / cover;
}

.hero-block__bg--medium,
.hero-block__bg--small {
	display: none;
}

.hero-block--dark {
	color: $color-white;
}

.hero-block--dark .hero-block__bg-layer {
	background: $color-gray-dark;
}

.hero-block--right .hero-block__content {
	margin-left: auto;
}



@include media("lg-down") {
	.hero-block,
	v-hero-block {
		min-height: calc(540 / 1380 * 100vw);
		padding: 50px 0;
	}
}



@include media("sm-down") {
	.hero-block,
	v-hero-block {
		min-height: calc(480 / 1000 * 100vw);
	}

	.hero-block__bg--large,
	.hero-block__bg--small {
		display: none;
	}

	.hero-block__bg--medium {
		display: block;
	}
}



@include media("2xs-down") {
	.hero-block,
	v-hero-block {
		min-height: calc(480 / 480 * 100vw);
	}

	.hero-block__bg--large,
	.hero-block__bg--medium {
		display: none;
	}

	.hero-block__bg--small {
		display: block;
	}
}