.info-box {
	background: $color-gray-light;
	border-radius: $border-radius-base;
	padding: 24px;
	margin: 30px 0;
}

.info-box__group {
	margin: 24px 0;
}

.info-box__heading,
.info-box__body {
	margin: 15px 0;
}



@include media("sm-down") {
	.info-box {
		padding: 20px;
	}
}