.key-value-list__item {
	display: flex;
	align-items: baseline;
	margin-bottom: 8px;
}

.key-value-list__item:last-child {
	margin-bottom: 0;
}

.key-value-list__item-start,
.key-value-list__item-end {
	flex: 0 0 auto;
	max-width: 40%;
}

.key-value-list__item-spacer {
	flex: 1 1 auto;
	margin: 0 6px;
	height: 1px;
	border-bottom: 1px dashed $color-gray;
}