.loader {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $loader-bg;
	opacity: 0;
	visibility: hidden;
	transition: $trs-base;
	z-index: 30;
}

.loader__container {
	display: flex;
	flex: 1 1 auto;
	position: sticky;
	top: 0;
	max-height: 100vh;
	align-items: center;
	justify-content: center;
}

.loader__icon {
	display: block;
	width: 50px;
	height: 50px;
	color: $color-primary;
	animation: spin 1s infinite;
}

.loader--active {
	opacity: 1;
	visibility: visible;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
