.main-nav {
	background: $color-primary;
	position: relative;
}

.main-nav__layout {
	display: flex;
	margin: 0 -14px;
}

.main-nav__cell {
	flex: 0 0 auto;
}

.main-nav__link {
	display: flex;
	align-items: center;
	background: $color-primary;
	border: none;
	padding: 16px 14px;
	color: $color-white;
	font-size: $fz-base;
	line-height: $lh-base;
	text-decoration: none;
	cursor: pointer;
	transition: $trs-base;
	user-select: none;
	position: relative;
	outline: none;
}

.main-nav__link-icon {
	flex: 0 0 auto;
	width: 20px;
	height: 20px;
	margin-right: 8px;
}

.main-nav__link-main {
	flex: 1 1 auto;
}

.main-nav__link::after {
	@include focus-frame;
}

@include no-touch {
	.main-nav__link:hover {
		background: $color-primary-shade-2;
	}
}

@include focus-enabled {
	.main-nav__link:focus::after {
		@include focus-frame-show;
	}
}

.main-nav__link:active {
	background: $color-primary-shade-3;
}

.main-nav__link::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	border: 5px solid transparent;
	border-top: none;
	border-bottom-color: $color-white;
	margin-left: -5px;
	opacity: 0;
	transform: scaleY(0);
	transform-origin: center bottom;
	transition: .4s;
}

.main-nav__link.main-nav__link--open::before {
	opacity: 1;
	transform: scaleY(1);
}

.main-nav__dd {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	padding: 25px 0 40px;
	background: $color-white;
	transform: translate3d(0, 0, 0) scaleY(0);
	transform-origin: center top;
	z-index: 120;
	transition: .35s;
	opacity: 0;
	visibility: hidden;
	box-shadow: $box-shadow-gray;
}

.main-nav__dd-container {
	opacity: 0;
	transition: .25s;
}

.main-nav__dd--open {
	opacity: 1;
	visibility: visible;
	transform: translate3d(0, 0, 0) scaleY(1);
	transition: .35s;
	z-index: 140;
}

.main-nav__dd--open .main-nav__dd-container {
	opacity: 1;
	transition: .25s ease .1s;
}

.main-nav__dd-grid {
	@include grid;
}

.main-nav__dd-cell {
	@include cell;
	width: 25%;
}

.main-nav__dd-list-head {
	margin: 8px 0;
}

.main-nav__dd-list-head-link--link {
	@include link;
	color: $color-black;
}

.main-nav__dd-list-item {
	margin: 6px 0;
}

.main-nav__dd-list-link {
	@include link;
	color: $color-gray-dark;
}



@include media("md-down") {
	.main-nav__dd-cell {
		width: 33.33%;
	}
}



@include media("sm-down") {
	.main-nav {
		display: none;
	}
}



@include media("2xs-down") {
	.main-nav__dd-cell {
		width: 50%;
	}
}



@include media("4xs-down") {
	.main-nav__dd-cell {
		width: 100%;
	}
}