.modal__surface {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	opacity: 0;
	visibility: hidden;
	z-index: 200;
	overflow-x: auto;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	transition: $trs-overlay;
}

.modal__container {
	display: flex;
	flex: 1 1 auto;
	padding: 20px;
	min-height: min-content;
	min-width: 0;
}

.modal__content-slot {
	margin: auto;
	min-width: 0;
}

.modal--gallery .modal__content-slot {
	width: 100%;
	height: 100%;
	display: flex;
}

.modal--gallery .modal__surface {
	overflow-y: hidden;
}

.modal--gallery .modal__container {
	padding: 0;
	height: 100%;
}

.state--modal-open .modal__surface {
	opacity: 1;
	visibility: visible;
}

.modal--page .modal-window {
	width: 100%;
}

.modal--page .modal__content-slot {
	width: 100%;
}

.modal--page .modal__container {
	padding: 40px 0 0;
}

.modal--page .modal-window__body {
	padding-left: 0;
	padding-right: 0;
}



@include media("sm-down") {
	.modal__container {
		padding: 0;
		display: flex;
		min-height: 100%;
	}

	.modal__content-slot {
		flex: 1 1 auto;
		margin: 0;
	}

	.modal__surface {
		padding: 0;
	}

	.modal--page .modal-window {
		padding: 0;
	}
}
