.modal-window {
	background: $color-white;
	width: 800px;
	max-width: 100%;
	border-radius: $border-radius-base;
	position: relative;
}

.modal-window__body {
	padding: 24px;
}

.modal-window__header {
	word-break: break-word;
	display: flex;
	padding: 10px 24px;
	background: $color-gray-light;
	border-radius: $border-radius-base $border-radius-base 0 0;
}

.modal-window__header-main {
	flex: 1 1 auto;
	margin-right: 20px;
}

.modal-window__close {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: -10px -24px -10px auto;
	width: 50px;
	height: 50px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	color: $color-gray-dark;
	transition: $trs-base;
}

.modal-window__close::after {
	@include focus-frame;
}

@include focus-enabled {
	.modal-window__close:focus::after {
		@include focus-frame-show;
	}
}

.modal-window__close-icon {
	display: block;
	width: 24px;
	height: 24px;
}

@include no-touch {
	.modal-window__close:hover {
		color: $color-black;
	}
}

.modal--lg .modal-window {
	width: 1100px;
}

.modal--lg .modal-window__header {
	padding: 10px 40px;
}

.modal--lg .modal-window__close {
	margin-right: -40px;
}

.modal--lg .modal-window__body {
	padding: 40px;
}

.modal--sm .modal-window {
	width: 480px;
}



@include media("sm-down") {
	.modal-window {
		width: 100%;
		min-height: 100%;
		border-radius: 0;
	}

	.modal--lg .modal-window,
	.modal--sm .modal-window {
		max-width: 100%;
	}

	.modal-window__header {
		position: sticky;
		top: 0;
		z-index: 11;
		border-radius: 0;
	}
}
