.page-subfooter {
	background: $color-gray-light;
	border-top: 1px solid $color-gray;
	padding: 24px 0;
	font-size: $fz-small;
	line-height: $lh-small;
	color: $color-gray-dark;
}

.page-subfooter__layout {
	display: flex;
	margin: -5px -12px;
}

.page-subfooter__cell {
	flex: 0 0 auto;
	padding: 5px 12px;
}

.page-subfooter__spacer {
	flex: 1 1 auto;
}

.page-subfooter__link {
	@include link;
	color: $color-gray-dark;
}