/* --- page navigation --- */
.page-nav {
	border-top: 1px solid $color-gray;
	padding-top: 30px;
	margin-top: 30px;
	cursor: default;
	user-select: none;
}

.page-nav__row {
	display: flex;
}

.page-nav__cell {
	flex: 0 1 auto;
}

.page-nav__cell--right {
	margin-left: auto;
}

.page-nav__links {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}

.page-nav__link,
.page-nav__link-spacer {
	flex: 0 0 auto;
	display: block;
	padding: 3px;
	border-radius: $border-radius-base;
	font-size: $fz-base;
	line-height: $lh-base;
	color: $color-primary;
	text-align: center;
	text-decoration: none;
}

.page-nav__link-spacer {
	min-width: 14px;
}

.page-nav__link {
	min-width: 30px;
	cursor: pointer;
	outline: none;
	position: relative;
	transition: $trs-base;
}

@include no-touch {
	.page-nav__link:hover {
		color: $color-primary-2;
	}
}

.page-nav__link:active {
	color: $color-primary-2-shade-3;
}

.page-nav__link::after {
	@include focus-frame;
}

@include focus-enabled {
	.page-nav__link:focus::after {
		@include focus-frame-show;
	}
}

.page-nav__link.page-nav__link--active {
	cursor: default;
	background: $color-primary;
	color: $color-white;
}



@include media("xs-max") {
	.page-nav {
		border: none;
		padding: 0;
	}

	.page-nav__row {
		flex-direction: column;
	}

	.page-nav__cell {
		margin: 0;
		flex: 1 1 auto;
	}

	.page-nav__cell--right {
		border-top: 1px solid $color-gray-light;
		margin-top: 20px;
		padding-top: 10px;
	}
}



@include media("4xs-max") {
	.page-nav__links {
		margin-left: -2px;
		margin-right: -2px;
	}

	.page-nav__link {
		margin-left: 2px;
		margin-right: 2px;
	}
}