.page-section-header {
	display: flex;
	align-items: baseline;
	margin: 20px 0;
}

.page-section-header__main {
	flex: 1 1 auto;
}

.page-section-header__aside {
	flex: 0 0 auto;
	margin-left: auto;
	padding-left: 20px;
}

.page-section-header__aside-links {
	display: inline-flex;
	vertical-align: top;
	margin-left: -8px;
	flex-wrap: wrap;
}

.page-section-header__aside-links-item {
	flex: 0 0 auto;
	margin-left: 8px;
}