.page-footer {
	background: $color-gray-light;
	padding: 30px 0;
}

.page-footer__layout {
	@include grid;
}

.page-footer__cell {
	@include cell;
	width: 25%;
}

.page-footer__block {
	margin: 20px 0;
}

.page-footer__block-title {
	margin: 8px 0;
}



@include media("sm-down") {
	.page-footer__cell {
		width: 50%;
	}
}



@include media("3xs-down") {
	.page-footer__cell {
		width: 100%;
	}
}