.page-header,
v-page-header {
	background: $color-white;
	padding: 20px 0;
}

v-page-header {
	display: block;
	height: 100px;
}

.page-header__layout {
	display: flex;
	align-items: center;
	margin: 0 -10px;
}

.page-header__cell {
	flex: 0 0 auto;
	padding: 0 10px;
}

.page-header__cell--logo {
	margin-right: auto;
}

.page-header__cell--search {
	flex: 1 1 auto;
	max-width: 600px;
}

.page-header__cell--menu {
	display: none;
}

.page-header__menu-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	margin: -10px;
	color: $color-primary;
	cursor: pointer;
	transition: $trs-base;
}

.page-header__menu-icon {
	display: block;
	width: 30px;
	height: 30px;
}



@include media("sm-down") {
	.page-header__cell--menu {
		display: block;
	}
}