.page-header-logo {
	display: block;
	position: relative;
	border: none;
	width: 200px;
	height: 60px;
	color: $color-primary;
	text-decoration: none;
	transition: $trs-base;
	outline: 1px dashed rgba($color-gray-dark, 0);
	outline-offset: 2px;
}

.page-header-logo__icon {
	display: block;
	width: 100%;
	height: 100%;
}

@include no-touch {
	.page-header-logo:hover {
		border: none;
		text-decoration: none;
		opacity: .75;
	}
}

@include focus-enabled {
	.page-header-logo:focus {
		outline: 1px dashed $color-gray-dark;
	}
}



@include media("sm-down") {
	.page-header-logo {
		width: 170px;
		height: 50px;
	}
}



@include media("2xs-down") {
	.page-header-logo {
		width: 130px;
		height: 40px;
	}
}