.panel {
	@include panel;
}

.panel--open {
	@include panel-open;
}

.panel__body {
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.panel__item {
	display: block;
	border-top: 1px solid $color-gray-light;
	border-bottom: 1px solid $color-gray-light;
}

.panel__item + .panel__item {
	border-top: none;
}

.panel__item:first-child {
	border-top: none;
}

.panel__btn {
	display: flex;
	align-items: center;
	position: relative;
	padding: 10px 20px;
	color: $color-black;
	border: none;
	cursor: pointer;
	font-size: $fz-base;
	line-height: $lh-base;
	transition: $trs-base;
	text-decoration: none;
	outline: none;
	user-select: none;
}

.panel__btn::after {
	@include focus-frame;
}

.panel__btn-icon,
.panel__btn-arrow {
	flex: 0 0 auto;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	color: $color-gray-dark;
	transition: $trs-base;
}

.panel__btn-arrow {
	width: 7px;
	height: 11px;
	margin-right: 0;
	margin-left: 10px;
}

.panel__btn-main {
	flex: 1 1 auto;
}

@include no-touch {
	.panel__btn:hover,
	.panel__btn:hover .panel__btn-icon,
	.panel__btn:hover .panel__btn-arrow {
		color: $color-primary-2;
	}
}

@include focus-enabled {
	.panel__btn:focus::after {
		@include focus-frame-show;
	}
}

.panel__btn:active {
	background: $color-gray-light;
}