.panel-head {
	display: flex;
	padding: 10px 20px;
	background: $color-gray-light;
	text-align: left;
}

.panel-head__btn {
	display: flex;
	flex: 0 0 auto;
	align-items: center;
	justify-content: center;
	width: 54px;
	height: 44px;
	margin: -10px 0;
	padding: 10px;
	position: relative;
	cursor: pointer;
	transition: $trs-base;
	color: $color-black;
}

.panel-head__btn::after {
	@include focus-frame;
}

.panel-head__btn--close {
	margin-right: -20px;
	padding-right: 20px;
	margin-left: auto;
}

.panel-head__btn--back {
	margin-left: -20px;
	padding-left: 20px;
	margin-right: auto;
}

.panel-head__btn-icon {
	display: block;
	width: 24px;
	height: 24px;
}

.panel-head__title {
	flex: 1 1 auto;
}

@include no-touch {
	.panel-head__btn:hover {
		color: $color-primary-2;
	}
}

@include focus-enabled {
	.panel-head__btn:focus::after {
		@include focus-frame-show;
	}
}

.panel-head__btn:active {
	background: $color-gray;
}