.pay-icons__grid {
	display: inline-flex;
	vertical-align: top;
	flex-wrap: wrap;
	margin: -4px;
}

.pay-icons__cell {
	flex: 0 0 auto;
	padding: 4px;
}

.pay-icons__item {
	display: block;
	width: 50px;
	height: 28px;
}

.pay-icons__item--visa {
	width: 53px;
	height: 28px;
}

.pay-icons__item--vbvisa {
	width: 53px;
	height: 28px;
}

.pay-icons__item--mc {
	width: 43px;
	height: 28px;
}

.pay-icons__item--mcsc {
	width: 59px;
	height: 28px;
}

.pay-icons__item--belcart {
	width: 100px;
	height: 28px;
}

.pay-icons__item--webpay {
	width: 100px;
	height: 28px;
}