.product-t-list,
.product-t-list__card {
	position: relative;
	border-radius: $border-radius-base;
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}

.product-t-list__card {
	padding: 20px;
	border: 1px solid $color-gray;
	background: $color-white;
	transition: $trs-base;
	flex-direction: row;
}

.product-t-list__link {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: none;
	outline: none;
	z-index: 3;
	color: $color-black;
}

.product-t-list__link::after {
	@include focus-frame;
}

@include no-touch {
	.product-t-list:hover .product-t-list__card {
		box-shadow: $box-shadow-gray;
	}
}

@include focus-enabled {
	.product-t-list__link:focus::after {
		@include focus-frame-show;
	}
}

.product-t-list__link:active ~ .product-t-list__card {
	background: $color-gray-light;
	box-shadow: none;
}

.product-t-list__cell-visual {
	flex: 0 0 auto;
	width: 150px;
	margin-right: 20px;
}

.product-t-list__cell-info {
	flex: 1 1 auto;
}

.product-t-list__cell-price-action {
	display: flex;
	flex: 0 0 auto;
}

.product-t-list__cell-price {
	flex: 0 0 auto;
	width: 150px;
	margin-left: 20px;
}

.product-t-list__cell-action {
	flex: 0 0 auto;
	width: 180px;
	margin-left: 20px;
}

.product-t-list__visual {
	position: relative;
	min-height: 150px;
	max-height: 216px;
	margin: 0 0 12px;
}

.product-t-list__visual::after {
	content: "";
	display: block;
	padding-top: 100%;
}

.product-t-list__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-t-list__status {
	position: absolute;
	top: -6px;
	left: -6px;
	z-index: 2;
}

.product-t-list__name {
	margin: 8px 0;
	color: $color-black;
	transition: $trs-base;
}

@include no-touch {
	.product-t-list:hover .product-t-list__name {
		color: $color-primary-2;
	}
}

.product-t-list__price {
	margin: 12px 0;
}

.product-t-list__action {
	position: relative;
	z-index: 4;
	margin: 12px 0;
}



@include media("md-down") {
	.product-t-list__cell-price-action {
		display: block;
		width: 200px;
	}

	.product-t-list__cell-price,
	.product-t-list__cell-action {
		width: auto;
		margin: 0;
	}

	.product-t-list__cell-price + .product-t-list__cell-action {
		margin-top: 12px;
	}
}



@include media("xs-down") {
	.product-t-list__card {
		display: block;
		padding-left: 190px;
		min-height: 190px;
	}

	.product-t-list__cell-visual {
		position: absolute;
		top: 20px;
		left: 20px;
		width: 150px;
		margin: 0;
	}

	.product-t-list__cell-info + .product-t-list__cell-price-action {
		margin-top: 12px;
	}
}