.product-grid__grid {
	@include grid;
}

.product-grid__cell {
	@include cell;
	width: 25%;
	display: flex;
	flex-direction: column;
}



@include media("md-down") {
	.product-grid__cell {
		width: 33.33%;
	}
}



@include media("xs-down") {
	.product-grid__cell {
		width: 50%;
	}
}



@include media("3xs-down") {
	.product-grid__cell {
		width: 100%;
	}
}