.product-slider {
	position: relative;
	min-height: 480px;
}

.product-slider--alt {
	min-height: 244px;
}

.product-slider .swiper-scrollbar {
	display: none;
}

.product-slider .swiper-scrollbar,
.product-slider .swiper-pagination {
	display: none;
}

.product-slider .swiper-container {
	margin: -$grid-gutter-base/2;
	width: calc(100% + #{$grid-gutter-base});
}

.product-slider__slide {
	padding: 12px;
}

.product-slider__arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	bottom: 0;
	width: calc(50vw - #{$container-width} / 2);
	min-width: 80px;
	cursor: pointer;
	transition: $trs-base;
	color: $color-gray;
	filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, .2));
	z-index: 10;
}

.product-slider__arrow--prev {
	right: 50%;
	margin-right: calc(#{$container-width} / 2 - #{$container-padding});
}

.product-slider__arrow--next {
	left: 50%;
	margin-left: calc(#{$container-width} / 2 - #{$container-padding});
}

.product-slider__icon {
	display: block;
	width: 26px;
	height: 50px;
}

@media (max-width: #{$screen-lg-max + 160px - $container-padding * 2}) {
	.product-slider__arrow--next {
		left: auto;
		right: -$grid-gutter-base/2;
	}

	.product-slider__arrow--prev {
		right: auto;
		left: -$grid-gutter-base/2;
	}
}

@media (max-width: $screen-sm-max) {
	.product-slider .swiper-container {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}

	.product-slider__slide {
		padding-left: 0;
		padding-right: 0;
	}
}