.product-t-grid,
.product-t-grid__card {
	position: relative;
	border-radius: $border-radius-base;
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}

.product-t-grid__card {
	padding: 19px;
	border: 1px solid $color-gray;
	background: $color-white;
	transition: $trs-base;
}

.product-t-grid__bottom {
	margin-top: auto;
	padding-top: 12px;
}

.product-t-grid__link {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: none;
	outline: none;
	z-index: 3;
	color: $color-black;
	cursor: pointer;
}

.product-t-grid__link::after {
	@include focus-frame;
}

@include no-touch {
	.product-t-grid:hover .product-t-grid__card {
		box-shadow: $box-shadow-gray;
	}
}

@include focus-enabled {
	.product-t-grid__link:focus::after {
		@include focus-frame-show;
	}
}

.product-t-grid__link:active ~ .product-t-grid__card {
	background: $color-gray-light;
	box-shadow: none;
}

.product-t-grid__visual {
	position: relative;
	min-height: 180px;
	max-height: 216px;
	margin: 0 0 12px;
}

.product-t-grid__visual::after {
	content: "";
	display: block;
	padding-top: 100%;
}

.product-t-grid__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-t-grid__status {
	position: absolute;
	top: -6px;
	left: -6px;
	z-index: 2;
}

.product-t-grid__name {
	margin: 8px 0;
	color: $color-black;
	transition: $trs-base;
}

@include no-touch {
	.product-t-grid:hover .product-t-grid__name {
		color: $color-primary-2;
	}
}

.product-t-grid__price {
	margin: 12px 0;
}

.product-t-grid__action {
	position: relative;
	z-index: 4;
	margin: 12px 0;
}