.product-line {
	position: relative;
}

.product-line__grid {
	@include grid;
	flex-wrap: nowrap;
}

.product-line__cell {
	@include cell;
	width: 20%;
	display: flex;
	flex-direction: column;
}

.product-line__cell:nth-child(n+6) {
	display: none;
}

@include touch {
	.product-line__block {
		overflow-x: auto;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		width: calc(100% + #{$container-padding} * 2);
		margin-left: -$container-padding;
		margin-right: -$container-padding;
		padding-left: $container-padding;
	}

	.product-line__grid::after {
		content: "";
		display: block;
		width: $container-padding;
		height: 1px;
		flex: 0 0 auto;
	}

	.product-line__cell.product-line__cell.product-line__cell:nth-child(n) {
		display: flex;
	}

	@include media("sm-down") {
		.product-line__block {
			width: calc(100% + #{$container-padding-sm} * 2);
			margin-left: -$container-padding-sm;
			margin-right: -$container-padding-sm;
			padding-left: $container-padding-sm;
		}

		.product-line__grid::after {
			content: "";
			display: block;
			width: $container-padding-sm;
			height: 1px;
			flex: 0 0 auto;
		}
	}
}



@include media("md-down") {
	.product-line__cell {
		width: 25%;
	}

	.product-line__cell:nth-child(n+5) {
		display: none;
	}
}



@include media("sm-down") {
	.product-line__cell {
		width: 33.33%;
	}

	.product-line__cell:nth-child(n+4) {
		display: none;
	}
}



@include media("xs-down") {
	.product-line__cell {
		width: 50%;
	}

	.product-line__cell:nth-child(n+3) {
		display: none;
	}
}



@include media("3xs-down") {
	.product-line__cell {
		width: 100%;
	}

	.product-line__cell:nth-child(n+2) {
		display: none;
	}
}