.product-image {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: $trs-base;
	position: relative;
}

.product-image--loading {
	background: $color-gray-light;
}

.product-image--loading .product-image__image {
	opacity: 0;
}

.product-image__image {
	display: block;
	flex: 0 0 auto;
	max-width: 100%;
	max-height: 100%;
	transition: opacity $trs-base;
}

.product-image__placeholder {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: $color-gray-light;
	color: $color-gray;
}

.product-image__placeholder-icon {
	display: block;
	flex: 0 0 auto;
	width: 70px;
	height: 70px;
	max-width: 40%;
	max-height: 40%;
}