.search-small {
	width: 100%;
	display: flex;
}

.search-small .loader__icon {
	width: 30px;
	height: 30px;
}

.search-small__wrap {
	width: 100%;
	position: relative;
}

.search-small__form {
	width: 100%;
	display: flex;
	align-items: center;
	position: relative;
}

.search-small__field {
	flex: 1 1 auto;
}

.search-small__close-btn {
	width: 40px;
	height: 40px;
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-small__close-btn::after {
	@include focus-frame;
}

.search-small__close-btn-icon {
	display: block;
	width: 20px;
	height: 20px;
	position: relative;
}

.search-small__submit-btn {
	flex: 0 0 auto;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
	transition: color $trs-base;
}

.search-small__submit-btn::after {
	@include focus-frame;
}

.search-small__submit-btn-icon {
	flex: 0 0 auto;
	width: 24px;
	height: 24px;
}

.search-small__result {
	@include dropdown-base;
	width: 100%;
	background-color: $color-white;
	max-height: 210px;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 3;
	padding: 15px;
	box-shadow: $box-shadow-gray;
}

.search-small__loader-wrap {
	min-height: 80px;
}

.state--search-small-open .search-small__result {
	@include dropdown-base-open;
}

.search-small__suggestion-wrap {
	display: block;
	margin-top: 15px;
}

.search-small__suggestion {
	display: inline-block;
}

@include no-touch {
	.search-small__submit-btn:hover {
		color: $color-primary;
	}
}

@include focus-enabled {
	.search-small__close-btn:focus::after {
		@include focus-frame-show;
	}

	.search-small__submit-btn:focus::after {
		@include focus-frame-show;
	}
}