.social-links__grid {
	display: inline-flex;
	vertical-align: top;
	flex-wrap: wrap;
	margin: -4px;
}

.social-links__cell {
	flex: 0 0 auto;
	padding: 4px;
}

.social-links__item {
	display: block;
	transition: $trs-base;
	position: relative;
	outline: none;
}

.social-links__item::after {
	@include focus-frame;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.social-links__icon {
	display: block;
	width: 32px;
	height: 32px;
}

@include no-touch {
	.social-links__item:hover {
		opacity: .75;
	}
}

@include focus-enabled {
	.social-links__item:focus::after {
		@include focus-frame-show;
	}
}