.status__item {
	margin-bottom: 4px;
}

.status-label {
	display: inline-block;
	vertical-align: top;
	border-radius: $border-radius-base;
	padding: 2px 4px;
	font-size: $fz-small;
	line-height: $lh-small;
}