.subscription-form {
	display: flex;
	position: relative;
}

.subscription-form__field {
	flex: 1 1 auto;
}

.subscription-form__btn {
	flex: 0 0 auto;
	margin-left: 10px;
}

.subscription-form .field-text__label {
	display: none;
}

.subscription-form__success-message {
	margin-top: 6px;
}