.top-nav,
v-top-nav {
	display: block;
	background: $color-gray-light;
	height: 45px;

	.download-apps {
		margin-bottom: 1px;
	}
}

.top-nav__layout {
	display: flex;
	align-items: center;
}

.top-nav__nav {
	display: flex;
}

.top-nav__cell {
	flex: 0 0 auto;
	margin-right: 35px;
	position: relative;
}

.top-nav__cell:last-child {
	margin-right: 0;
}

.top-nav__spacer {
	flex: 1 1 auto;
}

.top-nav__dd {
	@include dropdown-base;
	top: 100%;
	left: auto;
	right: 0;
	z-index: 120;
	background-color: $color-white;
	padding: 20px;
	box-shadow: $box-shadow-gray;
	width: 200px;
}

.top-nav__dd--open {
	@include dropdown-base-open;
}

.top-nav__dd-item {
	margin-top: 6px;
}

.top-nav__dd-link {
	@include link;
}

@include media("sm-down") {
	.top-nav {
		display: none;
	}
}