.top-nav-link {
	display: flex;
	align-items: center;
	border: none;
	padding: 12px 0 15px;
	color: $color-gray-dark;
	font-size: $fz-smaller;
	line-height: $lh-smaller;
	text-decoration: none;
	cursor: pointer;
	transition: $trs-base;
	position: relative;
	outline: none;
	letter-spacing: -0.04em;

	&::before {
		transition: $trs-base;
		content: '';
		width: 100%;
		height: 2px;
		background: linear-gradient(180deg, #ff801c 0.84%, #f04b6e 99.16%);
		position: absolute;
		left: 0;
		bottom: 0;
		opacity: 0;
	}
}

.top-nav-link__icon {
	flex: 0 0 auto;
	width: 16px;
	height: 16px;
	margin-right: 8px;
}

.top-nav-link__main {
	flex: 0 0 auto;
}

.top-nav-link::after {
	@include focus-frame;
}

@include no-touch {
	.top-nav-link:hover {
		color: $color-black;

		&::before {
			opacity: 1;
		}
	}
}

@include focus-enabled {
	.top-nav-link:focus::after {
		@include focus-frame-show;
	}
}

.top-nav-link:active {
	background: $color-gray;
}