.view-picker__grid {
	display: inline-flex;
	vertical-align: top;
	margin: -2px;
	width: calc(100% + 4px);
}

.view-picker__item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	color: $color-gray;
	cursor: pointer;
	transition: $trs-base;
	position: relative;
	border: 1px solid;
	border-radius: $border-radius-base;
	margin: 2px;
}

.view-picker__item::after {
	@include focus-frame;
}

.view-picker__icon {
	display: block;
	width: 18px;
	height: 18px;
}

@include no-touch {
	.view-picker__item:hover {
		color: $color-gray-dark;
	}
}

.view-picker__item:active {
	color: $color-black;
}

@include focus-enabled {
	.view-picker__item:focus::after {
		@include focus-frame-show;
	}
}

.view-picker__item.view-picker__item--active {
	color: $color-primary;
}